<a href="https://colab.research.google.com/github/girta79/WoTech_Python_Individual_Work/blob/main/Lessons_1-....._in_Python_module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python module**

**Lesson 1.**

**Topic: Introduction**

1. Introduction to Python
2. Setting up Google Collab environment
3. Coding in Python
4. Variables and data types in Python
5. Receiving input from users
6. Team work - Explore Python data types and experiment with f-strings using JAVA task (in Python)

In [ ]:
# LESSON 1 (23.3.24)

# variable (number can not be in front of a variable, but behind it is allowed)

# 1.
greeting = "Good morning!"
print(greeting)

# 2.
this_is_a_variable = "Good morning!"
print(this_is_a_variable)

# 3.
data = 15
print(data)

Good morning!
Good morning!
15

In [ ]:
name = "Anna" #text/string
surname = "Johnson" #text/string
age = 35 #integer
occupation = "Programmer" #text/string
university_graduate = False #boolean
height = 172.23 #float

print(name, surname, age, occupation, university_graduate, height)

Anna Johnson 35 Programmer False 172.23

In [ ]:
name = "Anna" #text/string
surname = "Johnson" #text/string
age = 35 #integer
occupation = "Programmer" #text/string
university_graduate = False #boolean
height = 172.23 #float

print(name, surname, age, occupation, university_graduate, height)
print(f"Full name: {name} {surname}\nOccupation: {occupation}\nUni degree: {university_graduate}")

Anna Johnson 35 Programmer False 172.23
Full name: Anna Johnson
Occupation: Programmer
Uni degree: False

In [ ]:
# Preparing for a party
guest_1 = 'John'
guest_2 = 'Anna'
guest_3 = 'Jeniffer'

print(guest_1, guest_2, guest_3)

guests_list = ['John', 'Anna', 'Jenifer', 'Kerli', 'Madara']
print(guests_list)

John Anna Jeniffer
['John', 'Anna', 'Jenifer', 'Kerli', 'Madara']

**Variable Definition:** You need to define the variable guests (the list of guests) before using it in the loop

**For Loop Syntax:** A for loop should be formatted such that the content within the loop (in this case, print(guest)) is indented. This tells Python which code belongs to the loop's body

In [ ]:
# Preparing for a party (loop)
guests = ["John", "Anna", "Kerli", "Martin"]

for guest in guests:
  print(guest)

John
Anna
Kerli
Martin

In [ ]:
name = "trees "*10
print(name, end = " end")

trees trees trees trees trees trees trees trees trees trees  end

In [ ]:
name = 'Emma'
surname = 'Johnson'
print('Hello', name, '!')
print(f'Hello {name}!')

Hello Emma !
Hello Emma!

In [ ]:
name = input("Enter your name: ")
print(name)

Enter your name: Girta
Girta

In [ ]:
name = input("Enter your name: ")
print(f'Hello {name}, nice to meet you!') # f-string

print('Hello', name, 'nice to meet you!') #not f-string

print(f'Hello {name}, I would like to read the book "Hamlet"') # f-string

Enter your name: Girta
Hello Girta, nice to meet you!
Hello Girta nice to meet you!
Hello Girta, I would like to read the book "Hamlet"

In [ ]:
print("Anna", "Jonh")
name = "Anna"
surname = "John"
print (name, surname)
print('Hello', name)
print("Anna", "Jonh")
print(f'Hello, {name} {surname}!')

Anna Jonh
Anna John
Hello Anna
Anna Jonh
Hello, Anna John!

In [ ]:
# TEAMWORK
# data types
# f-strings
    # string – sequence of elements
    # f – formatted string
# define a person (same what we did in Java)

**f-strings**, officially known as formatted string literals, were introduced in Python 3.6 and later versions as a way to make string formatting more straightforward and readable. **They allow for embedding expressions inside string literals, using curly braces {} to include variables, expressions, and even function calls directly within a string**. The expressions inside the curly braces are evaluated at runtime, and then formatted using the surrounding string.

To use an f-string, prefix the string with the letter f or F before the opening quotation mark. The Python interpreter will recognize it as an f-string and replace the expressions within {} with their values.

* f-string is used when you want to combine, or glue together text with values, or many values together. If you have one value to print out, there is no need to use f-string

In [ ]:
# 1.
name = "John"
surname = "Door"
gender = "male"
age = 30
marital_status = "single"
number_of_children = 0
is_student = True
major = "Developer"
bank_name = "Coop Pank"
bank_account_number = "123456789"
print(f"Full name: {name} {surname}\nGender: {gender}\nAge: {age}\nMarital status: {marital_status}\nNumber of children: {number_of_children}")
print(f"Student: {is_student}\nMajor: {major}\nBank name: {bank_name:}\nBank account number: {bank_account_number}")

Full name: John Door
Gender: male
Age: 30
Marital status: single
Number of children: 0
Student: True
Major: Developer
Bank name: Coop Pank
Bank account number: 123456789

In [ ]:
# 2.
name = "John"
surname = "Door"
gender = "male"
age = 30
marital_status = "single"
number_of_children = "no"
is_student = True
major = "Developer"
bank_name = "Coop Pank"
bank_account_number = "123456789"
print(f"Hi! My name is {name} {surname}({gender}) and I am {age} years old. I am {marital_status} and I have {number_of_children} children.")
print(f"I am a student {is_student}, my major is {major}. I have an account in {bank_name:}, the account number is {bank_account_number}.")

Hi! My name is John Door(male) and I am 30 years old. I am single and I have no children.
I am a student True, my major is Developer. I have an account in Coop Pank, the account number is 123456789.

**Lesson 2.**

**Topic: Arithmetic and variables**

1. Manipulating variables
2. Arithmetic operations with variables
3. Variable type changes
4. Writing programs with input, f-string and arithmetic operations
5. Team work: create a program for Body Mass Calculation (BMI)

In [ ]:
# LESSON 2 (30.3.24)

# BASIC DATA TYPES

# int (integer): represents whole numbers, e.g., 5, -3, 42
# float: represents real numbers (floating-point numbers), e.g., 3.14, -0.001, 2.0
# str (string): represents text, e.g., "Hello, World!"
# bool (boolean): represents logical values, can be either True or False

# Integer

x = 14
print(x)
print(type(x))

14
<class 'int'>

In [ ]:
x1 = -1
print(type(x1))

<class 'int'>

In [ ]:
# Floats

nearly_pi = 3.14
print(nearly_pi)
print(type(nearly_pi))

3.14
<class 'float'>

In [ ]:
nearly_pi1 = 22/7 # variable names must be unique within their scope
print(nearly_pi1)
print(type(nearly_pi1))

3.142857142857143
<class 'float'>

In [ ]:
# Rounding float

rounded_nearly_pi1 = round(3.142857142857143)
print(rounded_nearly_pi1)
print(type(rounded_nearly_pi1))

3
<class 'int'>

In [ ]:
rounded_nearly_pi1 = round(3.142857142857143, 2)
print(rounded_nearly_pi1)
print(type(rounded_nearly_pi1))

3.14
<class 'float'>

In [ ]:
rounded_nearly_pi1 = round(nearly_pi1, 2)
print(rounded_nearly_pi1)
print(type(rounded_nearly_pi1))

3.14
<class 'float'>

In [ ]:
round(nearly_pi1)
type(round(nearly_pi1))

int

**!** Using an interactive environment like a **Python REPL** (Read-Eval-Print Loop), **Jupyter notebook**, or certain integrated development environments (IDEs) that execute Python code interactively, these environments automatically display the result of the last expression in each input cell or console line. In such cases, simply typing an **expression like type(round(nearly_pi1)) will cause the type to be displayed without explicitly calling print()**. **This is a feature of the interactive environment and not of the Python language itself**. For scripts intended to run outside of these environments, you'll need to use print() to see outputs

In [ ]:
print(round(nearly_pi1, 0))

# 0 means that nearly_pi1 is rounded to the nearest whole number.
# if nearly_pi1 is 3.14, it would be rounded to 3.0

type(round(nearly_pi1))

3.0

int

In [ ]:
#Booleans

boolean1 = False
print(boolean1)
print(type(boolean1))

False
<class 'bool'>

In [ ]:
boolean1 = "false"
print(boolean1)
print(type(boolean1))

false
<class 'str'>

In [ ]:
boolean2 = (7 > 9)
print(boolean2)
print(type(boolean2))

False
<class 'bool'>

In [ ]:
boolean3 = (2 > 1)
print(boolean3)
print(type(boolean3))

True
<class 'bool'>

In [ ]:
boolean4 = not boolean1
print(boolean4)
print(type(boolean4))

True
<class 'bool'>

In [ ]:
# TRUE == 1
# FALSE == 0

boolean5 = True + False
print(boolean5)

1

![Screenshot 2024-04-06 at 16.01.37.png]()

In [ ]:
boolean5 = True + False + True
print(boolean5)

2

In [ ]:
boolean6 = True + False + False + True + False + True
print(boolean6)
print(type(boolean6))

3
<class 'int'>

In [ ]:
string1 = "Hello Girta!"
print(string1)
type(string1)

Hello Girta!

str

In [ ]:
len(string1)

12

In [ ]:
nearly_pi_string = "3.14"
type(nearly_pi_string)

str

In [ ]:
nearly_pi_converted = float(nearly_pi_string)
type(nearly_pi_converted)

float

In [ ]:
new_string = "abc" + " def"
print(new_string)

abc def

In [ ]:
# Arithmetic calculations
# Addition

a = 5
b = 3
sum = a + b
print(f'SUM: {sum}')
type(sum)

SUM: 8

int

In [ ]:
# Substraction

difference = a - b
print(f'Difference: {difference}')

Difference: 2

In [ ]:
# Multiplication

multip = a * b
print(f'Multoplication: {multip}')

Multoplication: 15

In [ ]:
# Division

div = a / b
print(f'Division: {div}')

Division: 1.6666666666666667

In [ ]:
# Exponentiation
power = a ** b
print(power)

125

In [ ]:
input1 = input('How old are you?') # String value!!!

print(input1)
print(type(input1))

How old are you?45
45
<class 'str'>

In [ ]:
input1 = input('How old are you?') # String value!!!
input2 = input('How old am I?') # String value!!!
sum = input1 + input2
print(sum)

print(input1)
print(type(input1))

How old are you?10
How old am I?20
1020
10
<class 'str'>

# **Converting**

In [ ]:
input1 = input('How old are you?') # String value!!!
input2 = input('How old am I?') # String value!!!

input1_int = int(input1)  # converting to integar
input2_int = int(input2)

sum = input1_int + input2_int
print(sum)

How old are you?45
How old am I?10
55

In [ ]:
# Density of an area

area = input("Enter area: ") # m2
population = input("Enter population: ")

area_int = int(area)
population_int = int(population)

density = population_int / area_int

print(f'Average density is: {density})')

Enter area: 100000
Enter population: 5000
Average density is: 0.05)

In [ ]:
# Converting pounds to kilograms

# 1 pound = 0.453592 kilograms

pounds = input("Enter the weight in pounds: ")

pounds_float =float(pounds)

CONVERSION_FACTOR = 0.453592 # constant variable, capital letters

kilograms = round(pounds_float * CONVERSION_FACTOR, 2)

print(f"Weight in pounds was: {pounds} lb, weight in kilograms is: {kilograms} kg")

Weight in pounds was: 10 , weight in kilograms is: 4.53592

**TEAMWORK:** Body Mass Index (BMI) is a measure of body fat based on height and weight. It is calculated by dividing a person's weight in kilograms by the square of their height in meters. The formula for BMI is:

[BMI = \frac{weight (kg)}{height (m)^2}]

Write a Python program that prompts the user to enter their weight in kilograms and their height in meters, then calculates and displays their BMI.

Example Output:
Enter your weight in kilograms: 70
Enter your height in meters: 1.75
Your BMI is: 22.86

Your task is to write Python code to achieve the above functionality.

# TEST
Started on	Sunday, 7 April 2024, 11:16 AM

Completed on	Sunday, 7 April 2024, 11:19 AM

Time taken	3 mins 35 secs

Grade	10.00 out of 10.00 (100%)

**Question 1:**
What is the main advantage of using f-strings over traditional string formatting or concatenation with the print() statement in Python?

a.
**f-strings are more readable and concise than other methods.**


b.
f-strings allow for easier manipulation of variables

c.
f-strings provide better performance compared to other methods.

d.
f-strings are the only way to print variables in Python

**Question 2:** Which function in Python is used to take user input?

a.
take_input()

b.
user_input()

c.
get_input()

d.
**input()**

**Question 3:** Which of the following correctly assigns a text value to a variable in Python?

a.
text = (Hello, world!)

b.
**text = 'Hello, world!'**

c.
'Hello, world!'

d.
text: 'Hello, world!'

e.
text = \"Hello, world!\"

**Question 4:** Python uses curly braces {} to define blocks of code.

Select one: True **False**

**Question 5**: Python allows both single-line and multi-line comments using // and /* */ respectively.

Select one: True **False**

**Question 6:** Python is a dynamically typed language, meaning you don't need to declare the type of a variable before using it.

Select one: **True** False

**Lesson 3.**

**Topic: Conditional execution**


1. Python reserved words
2. Indentation
3. Comparison operations
4. Two-way decisions with if and else
5. Team work: Create a Python program for temperature conversion between Celsius and Fahrenheit scales. The program should prompt users to select the direction of conversion, accept input for the temperature value, and accurately perform the conversion (use IF and/or ELSE). Output should be displayed with formatted strings showing both the original and converted temperatures.

In [ ]:
# LESSON 3 (6.4.24)


![Operators](https://private-user-images.githubusercontent.com/136323645/320209073-62beb971-ad6d-48d8-8b1b-10cc20c76aec.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTI0MTA2NzUsIm5iZiI6MTcxMjQxMDM3NSwicGF0aCI6Ii8xMzYzMjM2NDUvMzIwMjA5MDczLTYyYmViOTcxLWFkNmQtNDhkOC04YjFiLTEwY2MyMGM3NmFlYy5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQwNDA2JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDQwNlQxMzMyNTVaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1jYmFlZTYyNmYxZDMzNTcyMDUzZDcyZGE3YWU3YTQ4YzNhM2NlNWVmMGFkY2RjMjQ4YjFlYzVkZTY4ZjgxZTAxJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.TtcV8OwE2OFfa8eaJFiI34mMKwDMMvFm0e_cqmkaNiI)

In [ ]:
#EQUAL TO (==)
x = 5 #assign a variable
y = 5

print(x == y)
print("a" == 5)

True
False

In [ ]:
# NOT EQUAL (!=)

print(x !=y)

False

In [ ]:
# GREATER THAN (>)

print(x > 10)

False

In [ ]:
# LESS THAN (<)

print(x < 10)

True

In [ ]:
# GREATER THAN OR EQUAL TO (>=)

print(x >= 5)

True

In [ ]:
# IF ELSE statements

x = 100

if x < 50:
  print("less than 50")
else:
  print("more than 50")

more than 50

In [ ]:
x = 100

if x < 50:
 print("less than 50") # indentation! - block of code
else:
 print("more than or equal to 50")

print("Finish") # this is not a must

more than or equal to 50
Finish

In [ ]:
a = 20

if a > 10:
  print("a is above 10")
  print("this is still in the block")
print("this is outside the block")

a is above 10
this is still in the block
this is outside the block

In [ ]:
age = int(input("How old are You?: "))

if age >= 18:
  print("You are eliglibe to vote")
  print("Please proceed to the voting booth")
else:
  print("You are not old enougt to vote")
print("Thank you for participating!")

How old are You?: 28
You are eliglibe to vote
Please proceed to the voting booth
Thank you for participating!

In [ ]:
number = int(input("Enter a number: "))

# %
# check if the number is even or odd

if number % 2 == 0:  # MODULUS OPERATIONS (the number is divisible by 2)
  print(f"The number {number} is even!")
else:
  print(f"The number {number} is odd!")

Enter a number: 12
The number 12 is even!

In the line if number % 2 == 0:, there's a few key parts to understand:
1.	**% Operator**: This is the modulus operator in Python (and many other programming languages). It calculates the remainder of dividing the first operand by the second. So, number % 2 calculates the remainder of number divided by 2.
2.	**== 0 Comparison**: After calculating the remainder of number divided by 2, the expression checks if the result is equal to 0 using ==, which is the equality comparison operator.
3.	**Combining Both**: Putting it all together, if number % 2 == 0: checks if the remainder of number when divided by 2 is 0. If this condition is true, it means the number is evenly divisible by 2, indicating that it's an even number. If the condition is false (the remainder is not 0), then the number is not evenly divisible by 2, indicating it's an odd number.
So, this line is the crucial check that determines whether number is even or odd by checking if it divides by 2 with no remainder. If there's no remainder, number is even, and the code prints that the number is even. If there is a remainder, the code falls to the else clause, printing that the number is odd.

In [ ]:
# If the transaction can be done based on the account balance

account_balance = float(input("Enter you account balance: "))
transaction_amount = float(input("Enter you transaction_amount: "))

if account_balance >= transaction_amount:
    print("The transaction can be done.")
else:
    print("Insufficient balance for the transaction.")

Enter you account balance: 2000
Enter you transaction_amount: 300
The transaction can be done.

In [ ]:
# Access management system

# username
# password

STORED_USERNAME = "user123"
STORED_PASSWORD = "pass123"

# AND OR

username = input("Enter your username: ")
password = input("Enter your password: ")

if username == STORED_USERNAME and password == STORED_PASSWORD:
    print("Access granted.")
else:
    print("Access denied.")

Enter your username: user123
Enter your password: pass123
Access granted.

In [ ]:
# Multi Way decisions

x = 10

if x < 5:
  print("Small")

elif x < 15:
  print("Medium")

else:
  print(Large)

print("All done")

Medium
All done

In [ ]:
# Grading in scale 100, convert 100 to ABCDEF

score = int(input("Enter you score: "))

if score >= 90:
  print("Your grade is A")
elif score >= 80:
  print("Your grade is B")
elif score >= 70:
  print("Your grade is C")
elif score >= 60:
  print("Your grade is D")
elif score >= 50 and score < 60:
  print("Your grade is E")
else:
  print("Your grade is F")

Enter you score: 98
Your grade is A

In [ ]:
# Python Reserved Keywords - you can not use them in variable names

![Python Reserved Keywords](https://private-user-images.githubusercontent.com/136323645/320225242-dab6a4ae-8c07-4816-a86d-3c4a982f26c7.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTI0MjYyMTYsIm5iZiI6MTcxMjQyNTkxNiwicGF0aCI6Ii8xMzYzMjM2NDUvMzIwMjI1MjQyLWRhYjZhNGFlLThjMDctNDgxNi1hODZkLTNjNGE5ODJmMjZjNy5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQwNDA2JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDQwNlQxNzUxNTZaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1mMjkxYzkxMDc0MTdlZWMxNzUyMDZhODRlMTdlZGYzNWZkZWJiOGUxMWE1ODE0OGYxN2Q4OTdiMWJkZWMzZTM0JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.n_A2I-9LBX3UYtUhaOUuCWQfJxovq2iDDzYqz6Ipt_4)

In [ ]:
# try
# except
# else
# finally (optional)

try:
  score = int(input("Enter you score: "))

  if score >= 90:
    print("Your grade is A")
  elif score >= 80:
    print("Your grade is B")
  elif score >= 70:
    print("Your grade is C")
  elif score >= 60:
    print("Your grade is D")
  elif score >= 50 and score < 60:
    print("Your grade is E")
  else:
    print("Your grade is F")

#except:
  #print("Wrong input")

except Exception as e:
  print(f"Wrong input, exception: {e}")

Enter you score: girta
Wrong input, exception: invalid literal for int() with base 10: 'girta'

In [ ]:
try:
  account_balance = float(input("Enter you account balance: "))
  transaction_amount = float(input("Enter you transaction_amount: "))

  if account_balance >= transaction_amount:
      print("The transaction can be done.")
  else:
      print("Insufficient balance for the transaction.")

except Exception as m:
  print(f"Wrong input, exception: {m} ")

Enter you account balance: jshoah
Wrong input, exception: could not convert string to float: 'jshoah'

**TEAMWORK**: Create a Python program for temperature conversion between Celsius and Fahrenheit scales.The program
should prompt users to select the direction of conversion, accept input for the temperature value, and accurately
perform the conversion (use IF and/or ELSE). Output should be displayed with formatted strings showing both the
original and converted temperature

In [ ]:
#1
print("Temperature conversion choices:")
print("1: Celsius to Fahrenheit")
print("2: Fahrenheit to Celsius")
choice = input("Please select 1 or 2: ")

if choice == '1':
    celsius = float(input("Enter temperature in Celsius: "))
    fahrenheit = (celsius * 9/5) + 32
    print(f"{celsius}°C is equal to {fahrenheit:.2f}°F.")
elif choice == '2':
    fahrenheit = float(input("Enter temperature in Fahrenheit: "))
    celsius = (fahrenheit - 32) * 5/9
    print(f"{fahrenheit}°F is equal to {celsius:.2f}°C.")
else:
    print("Invalid selection. Please run the program again and select either 1 or 2.")

Temperature conversion choices:
1: Celsius to Fahrenheit
2: Fahrenheit to Celsius
Please select 1 or 2: 1
Enter temperature in Celsius: 23
23.0°C is equal to 73.40°F.

In [ ]:
#2

**Lesson 4**

**Topic:** Conditional execution || and list objects

1. Error handling Try/Except
2. Multi way and nested decisions with if and else and elif
3. Introduction to list objects
4. Team work: List operations

   1.Define a list of numbers [10, 20, 30, 40, 50]

   2.Print the length of the list

   3.Print the first element of the list

   4.Print the last element of the list

   5.Append a new number (e.g., 60) to the list

   6.Print the updated list

   7.Remove the second element from the list

   8.Print the list after removal

   9.Check if a specific number (e.g., 30) exists in the list and print the result

In [ ]:
# LESSON 4 (13.4.24)

# COMPARE TWO NUMBERS IN NESTED DECISION

num1 = int(input('Write number 1:'))
num2 = int(input('Write number 2:'))

if num1 >= num2:
  if num1 == num2:
    print(f'{num1} is equal to {num2}')
  else:
    print(f'{num1} is greater than {num2}')
else:
  print(f'{num1} is smaller than {num2}')

Write number 1:5
Write number 2:6
5 is smaller than 6

In [ ]:
# TRY, EXCEPT AND ELSE
# PUT THIS IN WHILE LOOP

stock = input('Stock: ')
try:
  product_stock = int(stock)
except:
  print('Wrong input!')
else:
  if product_stock > 10:
    print('Stock level sufficient')
  else:
    print('Low stock!')

Stock: 9
Low stock!

In [ ]:
stock = input('Input stock: ')

try:
    product_stock = int(stock)
except:
    print('Wrong input!')

if product_stock > 10:
    print('Stock level is sufficient!')
else:
    print('Low stock!')

Input stock: 9
Low stock!

# TASK

- Calculate the difference between the actual speed and the speed limit, and then calculate the fine based on the difference (3 euros per km/h over the limit).

- If the actual speed does not exceed the speed limit, print "Speed limit is not exceeded. No fine applied."
- If the actual speed exceeds the speed limit, check if the fine is less than or equal to 190 euros. If so, print "{name}, your fine for speeding is {fine} euros." - Otherwise, print "{name}, your fine for speeding is 190 euros."

In [ ]:
name = input('Please write your name: ')
speed_limit = input('Please input the speed limit: ')
actual_speed = input('Please input your actual speed: ')

try:
  speed_limit = int(speed_limit)
  actual_speed = int(actual_speed)
except:
  print("Wrong speed values entered. Please enter km/h.")
else:
  difference = actual_speed - speed_limit
  fine = difference * 3

  if speed_limit >= actual_speed: #difference < 0
    print("Speed limit is not exceeded. No fine applied.")
  else:
    if fine > 190:
      print(f"{name}, your fine for speeding is 190 euros.")
    else:
      print(f"{name}, your fine for speeding is {fine} euros.")

Please write your name: Girta
Please input the speed limit: 50
Please input your actual speed: 60
Girta, your fine for speeding is 30 euros.

In [ ]:
name = input('Please write your name: ')
speed_limit = input('Please input the speed limit: ')
actual_speed = input('Please input your actual speed: ')

try:
  speed_limit = int(speed_limit)
  actual_speed = int(actual_speed)
except:
  print("Wrong speed values entered. Please enter km/h.")
else:
  difference = actual_speed - speed_limit
  fine = difference * 3
  if speed_limit < 0 or actual_speed < 0:
    print('Speed limit MUST be positive')
  elif speed_limit >= actual_speed: #difference < 0
    print("Speed limit is not exceeded. No fine applied.")
  else:
    fine = min(190, difference * 3)
    print(f'{name}, your fine for speeding is {fine} euros.')

Please write your name: Rob
Please input the speed limit: 50
Please input your actual speed: 70
Rob, your fine for speeding is 60 euros.

LISTS

In [ ]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"

print(type(flowers))

<class 'str'>

In [ ]:
# HOW MANY ITEMS IN THE LIST?

print(len(flowers))

# 10

147

In [ ]:
print('First entry:', flowers[0])
print(flowers[1])

print("Last entry is:", flowers[-1])

# First entry: pink primrose
# hard-leaved pocket orchid
# Last entry is: globe thistle

First entry: p
i
Last entry is: e

flowers = ["pink primrose", "hard-leaved pocket orchid","canterbury bells","sweet pea","english marigold","tiger lily","moon orchid","bird of paradise","monkshood","globe thistle"]

In [ ]:
print('Every other item:', flowers[::2]) #every second item

# Every other item: ['pink primrose', 'canterbury bells', 'english marigold', 'moon orchid', 'monkshood']

Every other item: pn rmoehr-evdpce rhdcnebr el,we e,nls aiodtgrll,onoci,ido aaiemnsodgoetite

In [ ]:
for item in flowers[::2]:
    print(item)

# pink primrose
canterbury bells
english marigold
moon orchid
monkshood

In [ ]:
my_list = ['one', 'two', 'three', 4, 5]

In [ ]:
print(my_list[1])

In [ ]:
print(my_list[-2])
print(my_list[3])

# 4
# 4

In [ ]:
my_list = my_list + ['new item'] #ADDING NEW ITEM

In [ ]:
my_list

# ['one', 'two', 'three', 4, 5, 'new item']

In [ ]:
my_list[1] = 2

In [ ]:
my_list

# ['one', 2, 'three', 4, 5, 'new item']

In [ ]:
my_list.append('append me')

In [ ]:
my_list.pop(3)

# 4

In [ ]:
my_list

# ['one', 2, 'three', 5, 'new item', 'append me']

In [ ]:
# TEAMWORK

# 1. Define a list of numbers
numbers = [10, 20, 30, 40, 50]

# 2. Print the length of the list
print("Length of the list:", len(numbers))

# 3. Print the first element of the list
print("First element of the list:", numbers[0])

# 4. Print the last element of the list
print("Last element of the list:", numbers[-1])

# 5. Append a new number (e.g., 60) to the list
numbers.append(60)

# 6. Print the updated list
print("Updated list:", numbers)

# 7. Remove the second element from the list
numbers.pop(1)

# 8. Print the list after removal
print("List after removing the second element:", numbers)

# 9. Check if a specific number (e.g., 30) exists in the list and print the result
if 30 in numbers:
    print("30 is in the list")
else:
    print("30 is not in the list")

Length of the list: 5
First element of the list: 10
Last element of the list: 50
Updated list: [10, 20, 30, 40, 50, 60]
List after removing the second element: [10, 30, 40, 50, 60]
30 is in the list

**TEST**

Started on	Friday, 19 April 2024, 5:15 PM

Completed on	Friday, 19 April 2024, 5:23 PM

Time taken	8 mins 21 secs

Marks	4.00/5.00

Grade	8.00 out of 10.00 (80%)

**Question 1**

How satisfied are you with the WoTech program in general? (1 being the worst and 5 the best)

1 - very bad
2 - poor
3 - medium
4 - good
5 - excellent

5 - excellent

**Question 2**

If you said 1 or 2, please let us know what could be improved?

**Question 3**

How satisfied are you with the IT training?

1 - very bad
2 - poor
3 - medium
4 - good
5 - excellent

5 - excellent

**Question 4**

If you said 1 or 2, please let us know what could be improved?

**Question 5**

How satisfied are you with the communication (clarity, channels, frequency)?

1 - very bad
2 - poor
3 - medium
4 - good
5 - excellent

5 - excellent

**Question 6**

If you said 1 or 2, please let us know what could be improved?

**Question 7**

Name the top three things that you like about the whole program (including IT training, organizers, etc)?

very good teachers, good schedule, I like our group

**Question 8**

Have your thoughts about IT field and/or programming changed and if yes then in what way?

**Question 9**

Do you still consider changing your career to IT?

Yes

**Question 10**

What does the == operator do in Python?

a.
Assigns a value to a variable.

b.
Compares two values and returns True if they are equal.

c.
Checks if two values are not equal.

d.
Checks if two values are identical in both value and data type and returns 1, if they are.

Your answer is correct.
The correct answer is: Compares two values and returns True if they are equal.

**Question 11**

Why is indentation important in Python? (Only one answer is correct!)

a.
It is a strict requirement enforced by the Python interpreter to define code blocks and control flow.

b.
It allows Python to execute code faster by optimizing the parsing process.

c.
It helps to make the code visually appealing and easier to read.

d.
It ensures consistency in code formatting, making it easier for teams to collaborate

Your answer is correct.
The correct answer is: It is a strict requirement enforced by the Python interpreter to define code blocks and control flow.

**Question 12**

What does the following line of code do in Python?
transaction_amount = float(input("Enter the transaction amount: "))

a.
It prompts the user to enter a transaction amount and converts the input to a floating-point number.

b.
It assigns the string "Enter the transaction amount: " to the variable transaction_amount.

c.
It checks if the transaction amount is valid and raises an error if it's not

d.
It converts the transaction amount to a string and prompts the user to enter it.

Your answer is correct.
The correct answer is: It prompts the user to enter a transaction amount and converts the input to a floating-point number.

**Question 13**

After running the below code, will it result in an error?
True - there will be an error
False - the code will run without error

age = input("Enter your age: ")

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not old enough

Your answer is correct.
The correct answer is 'True'.

**Question 14**

The int() function in Python can convert a string containing a decimal number into an integer?

Select one:
True
False

Your answer is incorrect.
The correct answer is 'True'.

------------------------------------------------------

**Lesson 5**

**Topic: Loops in Python**

1. For loops in Python
2. Iterating through lists
3. Mathematical calculations with for-loops
4. Searching and appending with for-loops
5. Team work: Analyzing Numbers - Iterate through a list of 10 random numbers and determine whether each number is higher or lower than 5.

Hints:
Use a for loop to iterate through the list of numbers.
Use if, elif, and else statements to check each number against 5.

Example Output:
3 is lower than 5
8 is higher than 5
1 is lower than 5
6 is higher than 5 .......

In [ ]:
# LESSON 5 (20.4.24)

The user is prompted to enter a fruit name using the input() function. We use an if-else statement to check if the entered fruit is present in the fruits list. If the entered fruit is in the list, it prints a confirmation message. Otherwise, it prints a message indicating that the fruit is not in the list.

In [ ]:
# Define a list of fruits
fruit = ['apple', 'orange', 'banana', 'grape', 'kiwi']

# Prompt the user to input a fruit name
user_input = input('Please input a fruit: ')

# Check if the user input is in the fruit list
if user_input in fruit:
    print(f'{user_input} is in the list')  # Corrected to display the user's input
else:
    print(f'{user_input} is not in the list')  # Also corrected to display the user's input

Please input a fruit: apple
apple is in the list

The user is prompted to enter a number using the input() function, and the input is converted to an integer using int(). We first check if the entered number is in the numbers list using an if statement. If the number is in the list, we further check if it's even or odd using another if-else statement nested inside the first one. Depending on the result, it prints a message indicating whether the number is even or odd and whether it's in the list or not.

In [ ]:
# Define a tuple of numbers
numbers = [1, 20, 35, 400, 5]

# Prompt the user to enter a number and convert the input to an integer
user_number = int(input("Enter a number: "))

# Check if the entered number is in the numbers tuple
if user_number in numbers:

    # Check if the number is even or odd
    if user_number % 2 == 0:
        print(f"The number {user_number} is in the list and is even")
    else:
        print(f"The number {user_number} is in the list and is odd")
else:
    print(f"The number {user_number} is not in the list")

Enter a number: 400
The number 400 is in the list and is even

In [ ]:
# Roberta:
user_number = int(input("Please enter a number: "))

if user_number in numbers:
  if user_number %2 == 0:
    print('Your even number is on the list')
  else:
    print('Your odd number is on the list')
else:
  print('Your number is not on the list')

Please enter a number: 5
Your odd number is on the list

In [ ]:
# APPEND

items = ["apple", "kiwi"]
print(f"original items {items}")
my_value = "banana"
items.append(my_value)
print(f"changed items {items}")

original items ['apple', 'kiwi']
changed items ['apple', 'kiwi', 'banana']

In [ ]:
# COPY

original_list = [1, 20, 35, 400, 5]
copied_list = original_list.copy()
original_list.append(6)
print(original_list)
print(copied_list)

[1, 20, 35, 400, 5, 6]
[1, 20, 35, 400, 5]

In [ ]:
# COUNT

numbers = [7, 77, 45, 45, 2]
target_number = 45
count = numbers.count(target_number)
print(f"The number {target_number} appears {count} times in the list")

The number 45 appears 2 times in the list

In [ ]:
# INDEX

fruits = ['apple', 'orange', 'banana', 'grape', 'kiwi']
fruits_index = fruits.index("banana")
print(f'Index of "banana" is: {fruits_index}')

Index of "banana" is: 2

In [ ]:
# INSERT

numbers = [1, 2, 3, 4, 5]
numbers.insert(2, 10)
print(numbers)

[1, 2, 10, 3, 4, 5]

In [ ]:
# POP

numbers.pop(2)
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# SORT

numbers = [6, 9, 10, 3, 5]
numbers.sort()
# numbers.reverse()
print(numbers)

[3, 5, 6, 9, 10]

In [ ]:
# Define a list of numbers (5)
numbers = [7, 8, 11, 35, 58]

# Calculate maximum and minimum values
max_value = max(numbers)
min_value = min(numbers)

# Calculate total and count for average
total = sum(numbers)
count = len(numbers)
average = total / count

# Check if all numbers are greater than 3
all_higher_than_three = all(number > 3 for number in numbers)

# Print if average is greater than 3
if average > 3:
    print("Average is greater than 3")
else:
    print("Average is not greater than 3")

# Sorting numbers and modifying the list
numbers.sort()
numbers.pop(0)  # Remove the first element after sorting
numbers.append('Girta')  # Append 'Girta' to the list

# Get the index of 'Girta'
index_name = numbers.index('Girta')

# Print the index of 'Girta'
print(f"The index of 'Girta' in the list is: {index_name}")

Average is greater than 3
The index of 'Girta' in the list is: 4

In [ ]:
# Roberta:

# Create a list of 5 number elements
numbers = [1, 6, 13, 2, 5]

# # Calculate maximum value of the numbers
max_value = max(numbers)
print(f"The maximum value in the list is: {max_value}")

# Calculate minimum value of the numbers
min_value = min(numbers)
print(f"The minimum value in the list is: {min_value}")

# Calculate average value of numbers
average_value = sum(numbers) / len(numbers)
print(f"The average value in the list is: {average_value}")

# Check if the average value of the list if higher than 3 If the average is greater than 3,
# print "Average is greater than 3", otherwise print "Average is not greater than 3".
if average_value > 3:
  print("The average value of numbers in the list is higher than 3")
else:
  print("The average value of numbers on the list is lower than 3")

# Sort the list

numbers.sort()

# Remove first number of the list

numbers.pop(0)

# Add your name to the list
numbers.append("Elina")

# Calculate at what index is your name
numbers.index("Elina")

In [ ]:
# RANGE  range(start, stop, step)

list(range(10, 100, 10)) # the last element is not included

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
numbers_with_range = range(1,7) # iterable object (1, 2, 3, 4, 5, 6)

In [ ]:
for number in numbers_with_range:
  print(number)

1
2
3
4
5
6

In [ ]:
for number in numbers_with_range:
  number = number*2
  print(number)

2
4
6
8
10
12

Analyzing Numbers - Iterate through a list of 10 random numbers and determine whether each number is higher or lower than 5.

Hints: Use a for loop to iterate through the list of numbers. Use if, elif, and else statements to check each number against 5.
Example Output: 3 is lower than 5 8 is higher than 5 1 is lower than 5 6 is higher than 5 .......

In [ ]:
# TEAMWORK

numbers_list = (1, 3, 5, 67, 89, 34, 23, 12, 10, 6)

for number in numbers_list:
    if number > 5:
        print(f"{number} is higher than 5")
    elif number == 5:
        print(f"{number} is equal to 5")
    else:
        print(f"{number} is lower than 5")

1 is lower than 5
3 is lower than 5
5 is equal to 5
67 is higher than 5
89 is higher than 5
34 is higher than 5
23 is higher than 5
12 is higher than 5
10 is higher than 5
6 is higher than 5

**Lesson 6.**

Topic: For-Loops in Python

1. For loops in Python
2. Iterating through lists and nested lists
3. Nested loops with nested lists
4. range() - iterative object
5. Team work: Review what different methods are built in for STRING objects. Write a program with for loop and list where user needs to input a STRING value, and program needs to check if the value is in the list. Use string methods to standardize the user input

In [ ]:
# LESSON 6 (27.4.24)

In [ ]:
for letter in "I LOVE PYTHON": #STRING ITERABLE OBJECT
  print(letter)

I

L
O
V
E

P
Y
T
H
O
N

In [ ]:
for x in "I LOVE PYTHON": #STRING ITERABLE OBJECT
  print(x, end = '') #\n NEW LINE CHARACTER

I LOVE PYTHON

In [ ]:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']

In [ ]:
#FOR LOOP LIST

for city in cities_i_have_been_to:
    print(f"I have been to {city}")

I have been to Tallin
I have been to Riga
I have been to Tartu
I have been to Aluksne
I have been to Viru
I have been to Ventspils

In [ ]:
cities_i_have_been_to = ['Tallinn', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']

# Initialize the counter
counter = 1

# Loop through each city in the list
for city in cities_i_have_been_to:
    print(f"{counter}. I have been to {city}")

1. I have been to Tallinn
1. I have been to Riga
1. I have been to Tartu
1. I have been to Aluksne
1. I have been to Viru
1. I have been to Ventspils

In [ ]:
counter = 0 #INITIALIZE THE COUNTER

for city in cities_i_have_been_to:
  counter = counter + 1
  print(f'{counter}. I have been to {city}')

1. I have been to Tallin
2. I have been to Riga
3. I have been to Tartu
4. I have been to Aluksne
5. I have been to Viru
6. I have been to Ventspils

In [ ]:
# ADD PREVIOUS CITY IN THE FORLOOP

cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
counter = 0 #INITIALIZE THE COUNTER
previous_city = None

for city in cities_i_have_been_to:
  counter = counter + 1
  print(f'{counter}. I have been to {city}. The previous city I visited was {previous_city}')
  previous_city = city

1. I have been to Tallin. The previous city I visited was None
2. I have been to Riga. The previous city I visited was Tallin
3. I have been to Tartu. The previous city I visited was Riga
4. I have been to Aluksne. The previous city I visited was Tartu
5. I have been to Viru. The previous city I visited was Aluksne
6. I have been to Ventspils. The previous city I visited was Viru

In [ ]:
cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
counter = 0  # INITIALIZE THE COUNTER
previous_city = None

for city in cities_i_have_been_to:
    counter = counter + 1
    if previous_city == None:
        print(f'{counter}. I have been to {city}.')
    else:
        print(f'{counter}. I have been to {city}. The previous city I visited was {previous_city}')
    previous_city = city

1. I have been to Tallin.
2. I have been to Riga. The previous city I visited was Tallin
3. I have been to Tartu. The previous city I visited was Riga
4. I have been to Aluksne. The previous city I visited was Tartu
5. I have been to Viru. The previous city I visited was Aluksne
6. I have been to Ventspils. The previous city I visited was Viru

In [ ]:
# Triin's example:
import random

cities_i_have_been_to = ['Tallinn', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']

counter = 0
previous_city = None
adjectives = ["fun", "awful", "crazy", "scary", "lovely", "sunny"]

for city in cities_i_have_been_to:
  counter = counter + 1
  impression = random.choice(adjectives)
  if counter > 1:
    print(f"{counter}. I have been to {city} and it was {impression}. The previous city I visited was {previous_city}.")
  else:
    print(f"{counter}. I have been to {city} and it was {impression}.")
  previous_city = city

1. I have been to Tallinn and it was lovely.
2. I have been to Riga and it was crazy. The previous city I visited was Tallinn.
3. I have been to Tartu and it was sunny. The previous city I visited was Riga.
4. I have been to Aluksne and it was awful. The previous city I visited was Tartu.
5. I have been to Viru and it was sunny. The previous city I visited was Aluksne.
6. I have been to Ventspils and it was lovely. The previous city I visited was Viru.

In [ ]:
# For loops with indexes

cities_i_have_been_to = ['Tallin', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']
which_year_I_visited = [2020, 2024, 2020, 2021, 2024, 2022]

In [ ]:
len(cities_i_have_been_to) # how many elements

6

In [ ]:
range(len(cities_i_have_been_to)) # elements containing the values

range(0, 6)

In [ ]:
range(len(cities_i_have_been_to))
list(range(len(cities_i_have_been_to))) # list of indexes

[0, 1, 2, 3, 4, 5]

In [ ]:
range(len(cities_i_have_been_to)) #elements
for i in range(len(cities_i_have_been_to)):
  print(f'This is the index {i}')

This is the index 0
This is the index 1
This is the index 2
This is the index 3
This is the index 4
This is the index 5

In [ ]:
# Elchin: enumeration optional: no need to knew now

cities_i_have_been_to = ['Tallinn', 'Riga', 'Tartu', 'Aluksne', 'Viru', 'Ventspils']

for i, city in enumerate(cities_i_have_been_to, start=1):
    if i == 1:
        print(f'{i}. I have been to {city}.')
    else:
        print(f'{i}. I have been to {city}. The previous city I visited was {cities_i_have_been_to[i-2]}.')

1. I have been to Tallinn.
2. I have been to Riga. The previous city I visited was Tallinn.
3. I have been to Tartu. The previous city I visited was Riga.
4. I have been to Aluksne. The previous city I visited was Tartu.
5. I have been to Viru. The previous city I visited was Aluksne.
6. I have been to Ventspils. The previous city I visited was Viru.

In [ ]:
which_year_I_visited= ['2020', '2023', '2019', '2018', '2024', '2020']

In [ ]:
range(len(cities_i_have_been_to)) #elements  [0, 1, 2, 3, 4, 5]
for i in range(len(cities_i_have_been_to)):
  print(cities_i_have_been_to[i])
  print(which_year_I_visited[i])
  print(f'This is the index {i}')

Tallinn
2020
This is the index 0
Riga
2023
This is the index 1
Tartu
2019
This is the index 2
Aluksne
2018
This is the index 3
Viru
2024
This is the index 4
Ventspils
2020
This is the index 5

In [ ]:
range(len(cities_i_have_been_to)) #elements  [0, 1, 2, 3, 4, 5]
for i in range(len(cities_i_have_been_to)):
  print(f'I have been to {cities_i_have_been_to[i]}. I visited that city in {which_year_I_visited[i]}')

I have been to Tallinn. I visited that city in 2020
I have been to Riga. I visited that city in 2023
I have been to Tartu. I visited that city in 2019
I have been to Aluksne. I visited that city in 2018
I have been to Viru. I visited that city in 2024
I have been to Ventspils. I visited that city in 2020

In [ ]:
#############################################

In Python, different types of brackets (**{ }, [ ], ( )**) are used for various purposes. Each type of bracket has its specific usage and syntactic significance. Here's an overview of what each is used for:

# 1. **Curly Braces { }**

Curly braces {} are versatile in Python and are associated with the following uses:



**Dictionaries:**

Dictionaries are collections of key-value pairs defined using curly braces. Each key is unique and is associated with a value. Here’s an example:

In [ ]:
my_dict = {"name": "John", "age": 30}

**Sets:**

Curly braces are also used to define sets, which are collections of unique elements. For instance:

In [ ]:
my_set = {1, 2, 3}

**String Formatting:**

Curly braces are used in string formatting to embed variables or expressions within a string. This is often done with f-strings or the str.format() method:

In [ ]:
name = "Alice"
greeting = f"Hello, {name}"

# **2. Square Brackets [  ]**

Square brackets are primarily used for:

**Lists:**

Lists are ordered collections of items and are defined using square brackets. Items in a list can be accessed, added, or removed. Here's a simple list:

In [ ]:
my_list = [10, 20, 30]

**Indexing and Slicing:**

Square brackets are used to access elements of a list, tuple, string, or any other subscriptable object. You can also slice these objects to get a range of elements:

In [ ]:
my_list = [10, 20, 30, 40, 50]
first_item = my_list[0]  # Indexing
sublist = my_list[1:3]   # Slicing

# **3. Parentheses (  )**

Parentheses are used for:

**Tuples:**

A tuple is similar to a list but is immutable. Tuples are defined using parentheses:

In [ ]:
my_tuple = (1, 2, 3)

**Function Calls and Definitions:**

Parentheses are used in defining and calling functions. They enclose the parameters and arguments of functions:

In [ ]:
def my_function(x, y):
    return x + y

result = my_function(5, 3)

**Order of Operations in Expressions:**

Parentheses can be used to explicitly specify the order of operations in complex expressions:

In [ ]:
result = (5 + 3) * 2

**Generator Expressions:**

Parentheses are used around generator expressions, which are similar to list comprehensions but produce items on the fly:

In [ ]:
my_generator = (x * 2 for x in range(10))

In [ ]:
#############################################

In [ ]:
# NESTED LIST

matrix_2d = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]

In [ ]:

for i in matrix_2d:
  print(f'THIS IS THE SUB-LIST: {i}')
  for j in i:
    print(f'THESE ARE THE ELEMENTS OF THE SUB-LIST {j}')

# SAME AS

for element1 in matrix_2d:
  print(f'THIS IS THE SUB-LIST: {element1}')
  for element2 in i:
    print(f'THESE ARE THE ELEMENTS OF THE SUB-LIST {element2}')

THIS IS THE SUB-LIST: [1, 2, 3]
THESE ARE THE ELEMENTS OF THE SUB-LIST 1
THESE ARE THE ELEMENTS OF THE SUB-LIST 2
THESE ARE THE ELEMENTS OF THE SUB-LIST 3
THIS IS THE SUB-LIST: [4, 5, 6]
THESE ARE THE ELEMENTS OF THE SUB-LIST 4
THESE ARE THE ELEMENTS OF THE SUB-LIST 5
THESE ARE THE ELEMENTS OF THE SUB-LIST 6
THIS IS THE SUB-LIST: [7, 8, 9]
THESE ARE THE ELEMENTS OF THE SUB-LIST 7
THESE ARE THE ELEMENTS OF THE SUB-LIST 8
THESE ARE THE ELEMENTS OF THE SUB-LIST 9
THIS IS THE SUB-LIST: [1, 2, 3]
THESE ARE THE ELEMENTS OF THE SUB-LIST 7
THESE ARE THE ELEMENTS OF THE SUB-LIST 8
THESE ARE THE ELEMENTS OF THE SUB-LIST 9
THIS IS THE SUB-LIST: [4, 5, 6]
THESE ARE THE ELEMENTS OF THE SUB-LIST 7
THESE ARE THE ELEMENTS OF THE SUB-LIST 8
THESE ARE THE ELEMENTS OF THE SUB-LIST 9
THIS IS THE SUB-LIST: [7, 8, 9]
THESE ARE THE ELEMENTS OF THE SUB-LIST 7
THESE ARE THE ELEMENTS OF THE SUB-LIST 8
THESE ARE THE ELEMENTS OF THE SUB-LIST 9

In [ ]:
# Grade mapping exercise

grade_mapping = [[90, 'A'], [80, 'B'], [70, 'C'], [60, 'D'], [0, 'F']] # nested list

#grade_mapping[0] # [90, A]
grade_mapping[0][1] # A
#grade_mapping[3][1] #D

'A'

In [ ]:
for threshold, letter_grade in grade_mapping:
  print(letter_grade)

A
B
C
D
F

In [ ]:
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]
student_scores = [85, 72, 93, 60, 77]
grade_mapping = [[90, 'A'], [80, 'B'], [70, 'C'], [60, 'D'], [0, 'F']] # nested list

# write a for loop with range and print out student score

for i in range(len(student_names)):
    print(f"{student_names[i]}, you scored {student_scores[i]} points")

Alice, you scored 85 points
Bob, you scored 72 points
Charlie, you scored 93 points
David, you scored 60 points
Eva, you scored 77 points

In [ ]:
for i in range(len(student_scores)):
  print(student_scores[i])
  print(student_names[i])
  score = student_scores[i] # THIS IS THE SCORE OF EACH STUDENT SEPARATELY

  for number_grade, letter_grade in grade_mapping:

    if score >= number_grade:
      print(f'Hi, {student_names[i]}, your letter grade is {letter_grade}')
      break

85
Alice
Hi, Alice, your letter grade is B
72
Bob
Hi, Bob, your letter grade is C
93
Charlie
Hi, Charlie, your letter grade is A
60
David
Hi, David, your letter grade is D
77
Eva
Hi, Eva, your letter grade is C

In [ ]:
for i in range(len(student_names)):
  for threshold, letter_grade in grade_mapping:
    if student_scores[i] >= threshold:
      print(f"Hi {student_names[i]}. Your score is {student_scores[i]}. Your grade is {letter_grade}.")
      break

Hi Alice. Your score is 85. Your grade is B.
Hi Bob. Your score is 72. Your grade is C.
Hi Charlie. Your score is 93. Your grade is A.
Hi David. Your score is 60. Your grade is D.
Hi Eva. Your score is 77. Your grade is C.

In [ ]:
# ENUMERATE

student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]

for index, student in enumerate(student_names, start = 1):
  print(f"Student {index}: {student}")

Student 1: Alice
Student 2: Bob
Student 3: Charlie
Student 4: David
Student 5: Eva

In [ ]:
student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]

#ENUMERATE
for index, student in enumerate(student_names):
  print(f'Student {index}: {student}')

#COUNTER
counter = 0 #INITIALIZE THE COUNTER
for student in student_names:
  print(f'Student {counter}: {student}')
  counter = counter + 1

#RANGE
for i in range(len(student_names)):
  print(f'Student {i}: {student_names[i]}')

Student 0: Alice
Student 1: Bob
Student 2: Charlie
Student 3: David
Student 4: Eva
Student 0: Alice
Student 1: Bob
Student 2: Charlie
Student 3: David
Student 4: Eva
Student 0: Alice
Student 1: Bob
Student 2: Charlie
Student 3: David
Student 4: Eva

In [ ]:
# TEAMWORK
# Review what different methods are built in for STRING objects. Write a program with for loop and list where user needs
# to input a STRING value, and program needs to check if the value is in the list. Use string methods to standardize the user input

# Python str (string) type built-in methods:

**capitalize()** - capitalizes the first character of the string;

**casefold()** - converts the entire string to lowercase in an optimized manner;

**center(width, [fillchar])** - returns a centered string, with the desired width and filler;

**count(sub, [start, [end]])** - counts how many times a substring occurs within the string;

**encode(encoding='utf-8', errors='strict')** - returns a byte-encoded version of the string;

**endswith(suffix, [start, [end]])** - checks if the string ends with a specified suffix;

**expandtabs(tabsize=8)** - replaces tabs in the string with spaces;

**find(sub, [start, [end]])** - searches for the substring and returns its first index;

**format(*args, **kwargs)** - formats the string by replacing marked locations with arguments;

**index(sub, [start, [end]])** - similar to find() but throws an error if the substring is not found;

**isalnum()** - checks if all characters are alphanumeric;

**isalpha()** - checks if all characters are alphabetic;

**isdecimal()** - checks if all characters are decimal characters;

**isdigit()** - checks if all characters are digits;

**isidentifier()** - checks if the string is a valid identifier;

**islower()** - checks if all characters are lowercase;

**isnumeric()** - checks if all characters are numeric;

**isspace()** - checks if the string contains only whitespace;

**istitle()** - checks if each word starts with an upper case letter;

**isupper()** - checks if all characters are uppercase;

**join(iterable)** - joins elements from an iterable into a string;

**lower()** - converts all characters to lowercase;

**lstrip([chars])** - removes specified characters from the left side of the string;

**replace(old, new, [count])** - replaces parts of the string with another;

**rfind(sub, [start, [end]])** - searches for the substring from the right side;

**rindex(sub, [start, [end]])** - similar to rfind() but throws an error if the substring is not found;

**rstrip([chars])** - removes specified characters from the right side of the string;

**split(sep=None, maxsplit=-1)** - splits the string into parts;

**splitlines([keepends])** - splits the string into lines;

**startswith(prefix, [start, [end]])** - checks if the string starts with a specified prefix;

**strip([chars])** - removes specified characters from both sides of the string;

**swapcase()** - swaps the case of characters;

**title()** - converts the first character of each word to upper case;

**upper()** - converts all characters to uppercase;

**zfill(width)** - fills the front of the string with zeros to achieve the specified width;

In [ ]:
# list of expected names
names = ["Tina", "Alice", "Rob", "Tom", "Dina"]

input_string = input("Enter a name: ")

# remove spaces and convert all letters to lowercase
clean_input = input_string.strip().lower()

# check if the input is in the list
found = False
for name in names:
    if name.lower() == clean_input:
        found = True
        break

if found:
    print(f"The name {input_string} is in the list")
else:
    print(f"The name {input_string} is not in the list")

Enter a name: ALICE
The name ALICE is in the list

In [ ]:
def main():
    # list of string values
    my_list = ["Apple", "Banana", "Cherry", "Date", "Elderberry"]

    # standardizing the list to lower case for comparison
    standard_list = [item.lower() for item in my_list]


    user_input = input("Please enter a fruit name: ")

    # remove spaces and convert to lower case
    standardized_input = user_input.strip().lower()

    # for loop to check if the standardized user input is in the standard list
    if standardized_input in standard_list:
        print(f"{user_input.strip().capitalize()} is in the list")
    else:
        print(f"{user_input.strip().capitalize()} is not in the list")

# call the main function to run the program
if __name__ == "__main__":
    main()

Please enter a fruit name: cherRY
Cherry is in the list

**Explanation:**


1. **List Definition:** A list predefined_list contains some fruit names. This is the list against which the user's input will be checked.
2. **Standardizing the List:** To ensure that the comparison between the user's input and the list is case-insensitive, we convert all items in the list to lowercase using a list comprehension.
3. **User Input:** The program prompts the user to input a fruit name.
4. **Input Standardization:**
*  **.strip()** is used to remove any leading or trailing whitespace from the

user's input, which helps to prevent errors in comparison due to extra spaces.
*  **.lower()** converts the user's input to lowercase, ensuring that the comparison is case-insensitive.
5. **Comparison:**
*  The program checks if the standardized user input exists in the **standardized_list**.
*  If the input is found, it prints that the input is in the list; otherwise, it indicates that the input is not in the list.
6. **String Methods Used:**
*  **.strip():** Removes any leading and trailing whitespace from the string.
*  **.lower():** Converts all characters in the string to lowercase.
*  **.capitalize(): **Converts the first character of the string to uppercase and the rest to lowercase, which is used for nicer output formatting.

**TEST**
Started on	Wednesday, 1 May 2024, 12:30 PM
State	Finished
Time taken	3 mins 40 secs
Marks	4.00/5.00

Grade	8.00 out of 10.00 (80%)

**Question 1.**
What type of object is represented by the following code?
my_list1 =  "pink, yellow, green, red"

a.
Integer

b.
NoneType

c.
List

d.
String

Your answer is correct.
The correct answer is:
String



**Question 2.**
Which of the following statements accurately describes list indexes in Python?

a.
List indexes in Python allow both positive and negative values, where negative indexes count backward from the end of the list.


b.
List indexes in Python are immutable and cannot be changed once assigned to an element.

c.
List indexes in Python start from 1 and increment by 1 for each element in the list.

d.
List indexes in Python ONLY allow positive values

Your answer is correct.
The correct answer is:
List indexes in Python allow both positive and negative values, where negative indexes count backward from the end of the list.



**Question 3.**

Which statement accurately describes the behavior of the provided code?
original_list = [1, 2, 3, 4, 5]
copied_list = original_list.copy()
original_list.append(6)

a.
Both original_list and copied_list have 6 numbers

b.
original_list has 6 numbers, while copied_list remains with 5 numbers


c.
Only copied_list has 6 numbers, while original_list remains with 5 numbers

d.
Both original_list and copied_list remain with 5 numbers

Your answer is correct.
The correct answer is:
original_list has 6 numbers, while copied_list remains with 5 numbers



**Question 4.**
What will be the output after running this code?

numbers = [1, 2, 3, 4, 1, 2, 1, 1]
target_number = 3
count = numbers.count(target_number)
print(count)

The correct answer is: 1
(I put misleadingly 3, knew it was 1)



**Question 5.**
The result of running the below code will be: SyntaxError: invalid syntax.

except = [1,2,3]

print(except)

Select one:
True
False

The correct answer is 'True'.





**EXTRA HOMEWORK:**
Even though we do not have a Python lecture this week, I want to share with you some youtube playlists you can check out during the week.
1. Gentle introduction to Machine Learning: https://www.youtube.com/watch?v=Gv9_4yMHFhI&list=PLblh5JKOoLUICTaGLRoHQDuF_7q2GfuJF&index=1 (This gives an introduction about machine learning and algorithms. First video may be relevant to you. )
2. Python Programming Tutorials (Computer Science): https://www.youtube.com/playlist?list=PLi01XoE8jYohWFPpC17Z-wWhPOSuh8Er- (Here the lecturer in an interesting way explains different concepts in Python. Some of them we have already looked at, some will be brand new for you.)
3. Crash course in Computer Science: https://www.youtube.com/playlist?list=PL8dPuuaLjXtNlUrzyH5r6jN9ulIgZBpdo (This is an interesting playlist about computer science, how computing and computers were created)

These are quite long playlists, watching videos is not mandatory. Feel free to pick and choose and maybe try to see, what you like the best in this world of programming and IT! ☀️

**Lesson 7.**

**Topic: While-Loops in Python**


1. What it means to import an external library?

2. Importing our first "random" library
3. Break, continue, pass in while loops
4. Incrementing a variable in while loop
5. Guess the number game with while loop
6. Team work: Create a coin toss game.


Steps (for simplifying the code logic):

**Step 1:** Print a welcoming message to the player.

**Step 2:** Initialize variables to keep track of the number of correct guesses and the total number of guesses.

**Step 3:** Use a while loop to keep the game running until the player decides to quit.

**Step 4:** If the player enters 'quit', exit the game loop.

**Step 5:** Ask the player to guess the outcome of the coin toss (heads or tails).

**Step 6:** Generate a random number (0 or 1) to represent the outcome of the coin toss. (If the number is 0, the outcome is heads. If it's 1, the outcome is tails.)

**Step 7:** Compare the player's guess with the generated outcome.

**Step 8:** Increment the correct and total number of guesses

In [ ]:
# LESSON 7 (11.5.24)

In [ ]:
# write a for-loop and iterate through this list and print() each name separatelly

student_names = ["Alice", "Bob", "Charlie", "David", "Eva"]
for name in student_names:
  print(f'Student name: {name}')

Student name: Alice
Student name: Bob
Student name: Charlie
Student name: David
Student name: Eva

In [ ]:
# WHILE LOOP

counter = 0 #initialize the var
while True: # will run until we break
  counter = counter +1
  print (counter)

In [ ]:
counter = 0 # initialize the variable
while counter < 10: # we break when we reach the logical expression to be false
    counter = counter + 1
    print (counter)

1
2
3
4
5
6
7
8
9
10

In [ ]:
counter = 0 #initialize the var

while True: # will run until we break
  counter = counter +1
  print (counter)
  break # we break out of the while loop here

1

In [ ]:
counter = 0 #initialize the var

while True: #we break when we reach the logical expression to be false # logical expression == True
  counter = counter + 1
  print(counter)
  if counter <10:
    continue #goes up to the loop
  else:
    break #we stop the loop

1
2
3
4
5
6
7
8
9
10



**image 11.5 Python**

In [ ]:
# While loop exercise

city = input('What cities have you been to in LV or EE? To stop write "stop"')

if city == 'stop':
 print('You have written "stop"') #run the code until user has written STOP
else:
 print(f'I see you have been to the {city}')

What cities have you been to in LV or EE? To stop write "stop"stop
You have written "stop"

In [ ]:
while True: #city != "stop"
 city = input('What cities have you been to in LV or EE? To stop write "stop"')

 if city == 'stop':
  print('You have written "stop"') #run the code until user has written STOP
  break
 else:
  print(f'I see you have been to the {city}')

What cities have you been to in LV or EE? To stop write "stop"Tallinn
I see you have been to the Tallinn
What cities have you been to in LV or EE? To stop write "stop"Riga
I see you have been to the Riga
What cities have you been to in LV or EE? To stop write "stop"Tartu
I see you have been to the Tartu
What cities have you been to in LV or EE? To stop write "stop"stop
You have written "stop"

In [ ]:
# Initiate a list, append each city to the list, print how many cities user has been to
cities_list = []
counter = 0 # initiate the counter
while True: #city != "stop"
  city = input('What cities have you been to in LV or EE? T stop write "stop"')

  if city == 'stop':
    print('You have written "stop"') #run the code until user has written STOP
    break
  else:
    counter = counter +1
    print(f'{counter}. I se you have to been to the {city}') # counter can be replaced with {len(cities_list)}
    cities_list.append(city)

print(f'You have been to {len(cities_list)} cities')

What cities have you been to in LV or EE? T stop write "stop"Tallinn
1. I se you have to been to the Tallinn
What cities have you been to in LV or EE? T stop write "stop"Tartu
2. I se you have to been to the Tartu
What cities have you been to in LV or EE? T stop write "stop"Riia
3. I se you have to been to the Riia
What cities have you been to in LV or EE? T stop write "stop"Haapsalu
4. I se you have to been to the Haapsalu
What cities have you been to in LV or EE? T stop write "stop"stop
You have written "stop"
You have been to 4 cities

# Importing a library

documentation:

https://docs.python.org/3/library/random.html

In [ ]:
import random

In [ ]:
random.randint(1, 101)

14

In [ ]:
random_number = random.randint(1, 101)
print(random_number)

8

In [ ]:
# old excample by Maris

import random

numbers = []
n = 10

for i in range(n):
    numbers.append(random.randint(1, 100))

random_number = random.choice(numbers)
print(numbers)

for number in numbers:
    if number > random_number:
        print(f'{number} is larger than {random_number}')
    elif number == random_number:
        print(f'{number} is equal to {random_number}')
    else:
        print(f'{number} is smaller than {random_number}')

[64, 65, 82, 63, 48, 36, 76, 57, 47, 97]
64 is smaller than 76
65 is smaller than 76
82 is larger than 76
63 is smaller than 76
48 is smaller than 76
36 is smaller than 76
76 is equal to 76
57 is smaller than 76
47 is smaller than 76
97 is larger than 76

In [ ]:
while True:
  guess = input('Guess the number between 1 and 100, to quite write "stop"!')

  if guess == 'stop':
    print('The game has been stopped')
    break
  guess = int(guess)

  if guess == random_number:
    print('Congratulations! You have guessed the correct number')
    break
  else:
    print('Wrong, please try again')

Guess the number between 1 and 10, to quite write "stop"!1
Wrong, please try again
Guess the number between 1 and 10, to quite write "stop"!2
Wrong, please try again
Guess the number between 1 and 10, to quite write "stop"!3
Wrong, please try again
Guess the number between 1 and 10, to quite write "stop"!4
Wrong, please try again
Guess the number between 1 and 10, to quite write "stop"!5
Wrong, please try again
Guess the number between 1 and 10, to quite write "stop"!6
Wrong, please try again
Guess the number between 1 and 10, to quite write "stop"!7
Wrong, please try again
Guess the number between 1 and 10, to quite write "stop"!8
Wrong, please try again
Guess the number between 1 and 10, to quite write "stop"!9
Wrong, please try again
Guess the number between 1 and 10, to quite write "stop"!10
Wrong, please try again
Guess the number between 1 and 10, to quite write "stop"!stop
The game has been stopped

In [ ]:
while True:
  guess = input('Guess the number between 1 and 100, to quite write "stop"!')

  if guess == 'stop':
    print('The game has been stopped')
    break
  guess = int(guess)

  if guess == random_number:
    print('Congratulations! You have guessed the correct number')
    break
  else:
    # we are makeing the game easier
    if guess > random_number:
      print("Try lower!")
    else:
      print("Try higher!")

print(f"Random number was : {random_number}")

Guess the number between 1 and 100, to quite write "stop"!7
Try higher!
Guess the number between 1 and 100, to quite write "stop"!0
Try higher!
Guess the number between 1 and 100, to quite write "stop"!9
Try lower!
Guess the number between 1 and 100, to quite write "stop"!8
Congratulations! You have guessed the correct number
Random number was : 8

In [ ]:
# Add a list where all the guesses will be saved and in the end of loop print how many guesses were there

list = []
counter = 0
print(random_number) # for cheating

while True:
  guess = input('Guess the number between 1 and 100, to quit write "stop"!\n')

  if guess == 'stop':
    print ('The game has been stopped')
    break
  guess = int(guess)
  if guess == random_number:
    print('Congrats! You guessed the number!')
    break
  else:
    if guess > random_number:
      print('Wrong, try a lower number')
    else:
      print('Wrong, try a higher number')
  counter = counter +1
  list.append(guess)

print(f'You suggested these numbers: {list}')
print(f"You guessed {counter} times")

87
Guess the number between 1 and 100, to quit write "stop"!
77
Wrong, try a higher number
Guess the number between 1 and 100, to quit write "stop"!
66
Wrong, try a higher number
Guess the number between 1 and 100, to quit write "stop"!
99
Wrong, try a lower number
Guess the number between 1 and 100, to quit write "stop"!
8
Wrong, try a higher number
Guess the number between 1 and 100, to quit write "stop"!
87
Congrats! You guessed the number!
You suggested these numbers: [77, 66, 99, 8]
You guessed 4 times

In [ ]:
import random
random.randint(1, 101)

list = []
print(random_number)

while True:
  guess = input('Guess the number between 1 and 100, to quit write "stop"!')

  if guess == 'stop':
    print ('The game has been stopped.')
    break

  try:
    guess = int(guess)
  except:
    print("Please enter a valid integer!")
    continue
  if guess == random_number:
    print('Congrats! You guessed the number!')
    break
  else:
    if guess > random_number:
      print('Wrong, try a lower number.')
    else:
      print('Wrong, try a higher number.')
  list.append(guess)
print(f'You tried these numbers: {list}')

87
Guess the number between 1 and 100, to quit write "stop"!77
Wrong, try a higher number.
Guess the number between 1 and 100, to quit write "stop"!9
Wrong, try a higher number.
Guess the number between 1 and 100, to quit write "stop"!87
Congrats! You guessed the number: {random_number}!
You tried these numbers: [77, 9]

In [ ]:
random_number = random.randint(1, 100)
print(random_number)

guesses = [] #initialize the list for integers

while True:
  guess = input('Guess the number between 1 and 100, sto quite write "stop"!')

  if guess == 'stop':
    print('The game has been stopped.')
    break
  try:
    guess = int(guess)
  except:
    print('You need to input an integer!')
    continue
  guesses.append(guess) #append it to the list

  if guess == random_number:
    print('Congratulations. You have guessed the correct number.')
    break
  else:
    # WE ARE MAKING THE GAME EASIER
    if guess > random_number:
      print('Try lower!')
    else:
      print('Try higher!')

print(f'You managed to guess the number in {len(guesses)} guesses')

71
Guess the number between 1 and 100, sto quite write "stop"!77
Try lower!
Guess the number between 1 and 100, sto quite write "stop"!99
Try lower!
Guess the number between 1 and 100, sto quite write "stop"!33
Try higher!
Guess the number between 1 and 100, sto quite write "stop"!71
Congratulations. You have guessed the correct number.
You managed to guess the number in 4 guesses

In [ ]:
# Team work:
# Create a coin toss game:

# Step 1: Print a welcoming message to the player.
# Step 2: Initialize variables to keep track of the number of correct guesses and the total number of guesses.
# Step 3: Use a while loop to keep the game running until the player decides to quit.
# Step 4: If the player enters 'quit', exit the game loop.
# Step 5: Ask the player to guess the outcome of the coin toss (heads or tails).
# Step 6: Generate a random number (0 or 1) to represent the outcome of the coin toss. (If the number is 0, the outcome is heads. If it's 1, the outcome is tails.)
# Step 7: Compare the player's guess with the generated outcome.
# Step 8: Increment the correct and total number of guesses

import random

print("Welcome to the Coin Toss Game!")  # step 1.

correct_guesses = 0  # step 2.
total_guesses = 0    # step 2.

while True:  # step 3.
    guess = input("Guess the outcome ('heads' or 'tails'), or type 'quit' to exit: ")  # step 5.

    if guess == 'quit':  # step 4.
        print(f"You guessed correctly {correct_guesses} out of {total_guesses} times")  # step 8.
        break

    if guess != 'heads' and guess != 'tails':
        print("Invalid input. Please enter 'heads' or 'tails'")
        continue

    total_guesses += 1  # step 8.

    outcome = random.randint(0, 1)  # step 6.

    if outcome == 0:
        outcome_str = 'heads'
    else:
        outcome_str = 'tails'

    print(f"The coin toss outcome is: {outcome_str}")

    # step 7.
    if guess == outcome_str:
        print("Congratulations! Your guess was correct!")
        correct_guesses += 1  # step 8.
    else:
        print("Sorry, your guess was incorrect")

Welcome to the Coin Toss Game!
Guess the outcome ('heads' or 'tails'), or type 'quit' to exit: heads
The coin toss outcome is: heads
Congratulations! Your guess was correct!
Guess the outcome ('heads' or 'tails'), or type 'quit' to exit: heads
The coin toss outcome is: tails
Sorry, your guess was incorrect
Guess the outcome ('heads' or 'tails'), or type 'quit' to exit: heads
The coin toss outcome is: tails
Sorry, your guess was incorrect
Guess the outcome ('heads' or 'tails'), or type 'quit' to exit: heads
The coin toss outcome is: heads
Congratulations! Your guess was correct!
Guess the outcome ('heads' or 'tails'), or type 'quit' to exit: quit
You guessed correctly 2 out of 4 times

**Lesson 8.**

Topic: **Dictionaries and defining functions**

1. What are tuples?
2. What are dictionary objects?
3. Selecting/indexing elements in a dictionary
4. Modifying, creating and removing elements in a dictionary
5. Defining and calling simple functions
6. Return statement in a function
7. Team work: Write a code example how to iterate through a dictionary with a for-loop.

In [ ]:
# LESSON 8. (18.5.24)

In [ ]:
my_dict = {} # This is how we define a dictionary.
my_list = [] # This is how we define a list. You can append, remove etc.
my_tuple = () # This is how we define tuples.

my_tuple = (1, 2, 3) # Each value is separated by a comma.
print(my_tuple)

(1, 2, 3)

In [ ]:
new_list = [1, 2, 3, 4]
print(new_list)

[1, 2, 3, 4]

In [ ]:
# Transforming a list into a tuple
new_tuple = tuple(new_list)
type(new_tuple)

tuple

In [ ]:
new_tuple[0:3] # you can index into tuples

In [ ]:
# Common functions for tuples
len(new_tuple) # lenght
print(len(new_tuple))
min(new_tuple) # min
print(min(new_tuple))
max(new_tuple) # max
print(max(new_tuple))
sum(new_tuple) # sum
print(sum(new_tuple))

4
1
4
10

In [ ]:
# tuple == immutable

# Dictionary

In [ ]:
# Dictionary
# Create a dictionary
dictionary = {} #curly braces method
another_dictionary = dict() #dict method

dictionary == another_dictionary
dictionary = {} #curly braces method

dictionary['key1'] = 'value1' #add an element to the dictionary
dictionary['key2'] = 'value2'
dictionary['key2'] #use the key to get to the element
# storing a list in a dictionary
dictionary['datorium_list'] = ['Python', 'Java', 'C#']
dictionary
dictionary['datorium_list'] = [1,2,3]
#we can not have two different values with the same key

In [ ]:
#Python dictionary methods
my_friends = {'Alise': 30,
              'Johan': 40,
              'Linda': 28}
my_friends['Linda']
# update() - adds new dict to existing one

incoming_friends = {'Arta': 28}
my_friends.update(incoming_friends)

integer_key = {123: 'name'}
integer_key
# pop() - removing an element
my_friends.pop('Alise')
my_friends['Linda']
# get() - to specify a fallback value when item is not in a dictionary

# my_friends['Alise'] -KeyError: 'Alise'

my_friends.get('Alise', 'This person does not exist in the dictionary!')
# items(), keys(), values()

#items() - return all the obj from the dict
my_friends.items()

#keys() - returns only keys
my_friends.keys()

#values() - returns only values
my_friends.values()

dict_values([40, 28, 28])

In [ ]:
my_friends.get('Alise') # no callback value - get nothing
my_friends.get('Alise', 'This person does not exist in the dictionary!') # with callback will get the callback/default val

'This person does not exist in the dictionary!'

In [ ]:
# Team work: Write a code example how to iterate through a dictionary with a for-loop

print("It's your To-Do List")

# dictionary
todo_list = {'Must do today': [], 'Do this week': []}

def add_task(todo_list):
    task_name = input("Enter the task description: ")
    priority = input("Enter the task priority ('1' for 'Must do today' or '2' for 'Do this week'): ")

    # priority maping
    if priority == '1':
        todo_list['Must do today'].append(task_name)
        print(f"Task added under 'Must do today'")
    elif priority == '2':
        todo_list['Do this week'].append(task_name)
        print(f"Task added under 'Do this week'")
    else:
        print("Invalid input. Please enter '1' for 'Must do today' or '2' for 'Do this week'")

# loop to add tasks until the user stops
while True:
    user_input = input('Type "add" to add a task, or "done" to finish: ')
    if user_input == 'done':
        print("Your to-do list:")
        for priority, tasks in todo_list.items():
            print(f"{priority}:")
            for task in tasks:
                print(f"* {task}")
        break
    elif user_input == 'add':
        add_task(todo_list)
    else:
        print("Invalid input. Please type 'add' or 'done'")

It's your To-Do List
Type "add" to add a task, or "done" to finish: add
Enter the task description: Java test
Enter the task priority ('1' for 'Must do today' or '2' for 'Do this week'): 1
Task added under 'Must do today'
Type "add" to add a task, or "done" to finish: add
Enter the task description: Python test
Enter the task priority ('1' for 'Must do today' or '2' for 'Do this week'): 1
Task added under 'Must do today'
Type "add" to add a task, or "done" to finish: add
Enter the task description: Python individual work
Enter the task priority ('1' for 'Must do today' or '2' for 'Do this week'): 2
Task added under 'Do this week'
Type "add" to add a task, or "done" to finish: done
Your to-do list:
Must do today:
* Java test
* Python test
Do this week:
* Python individual work

In [ ]:
# Nora´s code:

from datetime import date, timedelta

print('Welcome to your smart fridge system!')

inventory = {}

def add_item(inventory):
    add_food = input("Enter the name of the food item: ")
    days_to_expiration = int(input("Enter the number of days until the item expires: "))
    expiration_date = date.today() + timedelta(days=days_to_expiration)
    inventory[add_food] = expiration_date
    print(f"New food item {add_food} added to the inventory with expiration date {expiration_date}!")

while True:
    exit = input('If you want to exit write "stop", else press Enter:')
    if exit.lower() == 'stop':
        print("You've stopped entries for today. See you next time!")
        break
    add_item(inventory)

current_date = date.today()
for add_food, expiration_date in inventory.items():
    if expiration_date == current_date + timedelta(days=1):
        print(f'Warning: {add_food} will go off in 1 day on {expiration_date}')
    else:
        print(f'{add_food} will go off on {expiration_date}')

Welcome to your smart fridge system!
If you want to exit write "stop", else press Enter:
Enter the name of the food item: egg
Enter the number of days until the item expires: 9
New food item egg added to the inventory with expiration date 2024-05-30!
If you want to exit write "stop", else press Enter:stop
You've stopped entries for today. See you next time!
egg will go off on 2024-05-30

TEST


Started on	Wednesday, 22 May 2024, 11:17 AM
State	Finished

Time taken	10 mins 9 secs
Grade	4.00 out of 5.00 (80%)


**Question 1.**

Find a mistake in the code and move the marker/pointer on the mistake.
Background image for dragging markers ontomistake


picture




Your answer is incorrect.
f-string is missing

**Question 2.**

Match correct explanations with definitions

**Answer 1.
Iterates over a sequence (such as a list, tuple, or string).

**Answer 2.
A loop that never terminates on its own because the condition is always True.

**Answer 3.
Repeats a block of code as long as a condition is True.

**Answer 4.
A loop inside another loop.

The correct answer is:

Iterates over a sequence (such as a list, tuple, or string). → for loop,

A loop that never terminates on its own because the condition is always True. → Infinite loop,

Repeats a block of code as long as a condition is True. → while loop,

A loop inside another loop. → Nested loops

**Question 3.**

How many iterations this while loop will do?
while True:
    print("Study")


a.
1

b.
0

c.
10

d.
Infinity

The correct answer is:
Infinity


**Question 4.**

Write a word that should be in place of '???'?

sentence = input("Enter a sentence: ")
word = input("Enter a word to search for: ")

Check if the word is present in the sentence

if ??? in sentence:
    print("The word is present in the sentence.")
else:
    print("The word is not present in the sentence.")

The correct answer is: word


**Question 5.**

Is the statement true or false about the code below : The initial value of cumulative_sum is 1.numbers = [1, 2, 3, 4, 5]
cumulative_sum = 0



picture



Select one:
True
False


The correct answer is 'False'.

**INDIVIDUAL TASK**


**Easy level:**

Create a program where the user can input deposits into a bank account. The program should use `if-else` statements, `input()`, `int()` and while True loop to keep track of deposits.

**Instructions:**
1. Welcome the user to the bank
2. Initiate balance = 0
3. Ask the user to input the amount of money they want to deposit.
4. Add the deposit amount to the total balance
5. Ask the user if they want to make another deposit or exit the bank.
6. If they choose to make another deposit, repeat the process (while True).
7. If not, print the total amount deposited and exit the bank.

**Medium level:**

**Instructions:**
1. Use `try` and `except` to handle non-integer inputs for deposits.


**Hard level:**
**Instructions:**
1. Add bank withdrawal (if user wants to withdraw money the balance decreases)
2. If the balance becomes negative, withdrawal is not possible.
3. Add check balance optionality
Example for hard level:
   print("\nWhat would you like to do?")
   print("1. Deposit money")
   print("2. Withdraw money")
   print("3. Check balance")
   print("4. Exit")

When you submit your program, submit a little description of your experience with developing this task. Which difficulty you chose and whether or not it was too easy/hard.

In [ ]:
# Easy level:

print("Welcome to the Bank!")
balance = 0

while True:
    deposit = input("Please enter the amount of money(€) you want to deposit: ")

    # add to the balance
    balance += int(deposit)

    put_deposit = input("Do you want to make another deposit? Type 'yes' to continue or 'no' to exit: ")

    if put_deposit.lower() != 'yes':
        print(f"Thank you! Your total balance is: {balance}€")
        break

Welcome to the Bank!
Please enter the amount of money(€) you want to deposit: 50
Do you want to make another deposit? Type 'yes' to continue or 'no' to exit: no
Thank you! Your total balance is: 50€

In [ ]:
# Medium level:

print("Welcome to the Bank!")
balance = 0

while True:
    try:
        deposit = input("Please enter the amount of money(€) you want to deposit: ")
        balance += int(deposit)
    except:
        print("Please enter a valid number/integer")

    put_deposit = input("Do you want to make another deposit? Type 'yes' to continue or 'no' to exit: ")

    if put_deposit.lower() != 'yes':
        print(f"Thank you! Your total balance is: {balance}€")
        break

Welcome to the Bank!
Please enter the amount of money(€) you want to deposit: 400
Do you want to make another deposit? Type 'yes' to continue or 'no' to exit: yes
Please enter the amount of money(€) you want to deposit: 500
Do you want to make another deposit? Type 'yes' to continue or 'no' to exit: no
Thank you! Your total balance is: 900€

In [ ]:
# Hard level (AI version):

print("Welcome to the Bank!")
balance = 0

def deposit_money(balance):
    try:
        deposit = input("Please enter the amount of money(€) you want to deposit: ")
        balance += int(deposit)
        print(f"Deposit successful! Your new balance is: {balance}€")

    except ValueError:
        print("Please enter a valid number/integer")
    return balance

def withdraw_money(balance):
    try:
        withdrawal = int(input("Please enter the amount of money(€) you want to withdraw: "))
        if balance >= withdrawal:
            balance -= withdrawal
            print(f"Withdrawal successful! Your new balance is: {balance}€")
        else:
            print("Insufficient funds! Withdrawal not possible")
    except ValueError:
        print("Please enter a valid number/integer")
    return balance

def check_balance(balance):
    print(f"Your current balance is: {balance}€")

while True:
    print("\nWhat would you like to do?")
    print("1. Deposit money")
    print("2. Withdraw money")
    print("3. Check balance")
    print("4. Exit")

    choice = input("Please enter the number of your choice: ")

    if choice == '1':
        balance = deposit_money(balance)
    elif choice == '2':
        balance = withdraw_money(balance)
    elif choice == '3':
        check_balance(balance)
    elif choice == '4':
        print(f"Thank you! Your final balance is: {balance}€")
        break
    else:
        print("Invalid choice. Please enter a number between 1 and 4")

Welcome to the Bank!

What would you like to do?
1. Deposit money
2. Withdraw money
3. Check balance
4. Exit
Please enter the number of your choice: 3
Your current balance is: 0€

What would you like to do?
1. Deposit money
2. Withdraw money
3. Check balance
4. Exit
Please enter the number of your choice: 1
Please enter the amount of money(€) you want to deposit: 500
Deposit successful! Your new balance is: 500€

What would you like to do?
1. Deposit money
2. Withdraw money
3. Check balance
4. Exit
Please enter the number of your choice: 2
Please enter the amount of money(€) you want to withdraw: 300
Withdrawal successful! Your new balance is: 200€

What would you like to do?
1. Deposit money
2. Withdraw money
3. Check balance
4. Exit
Please enter the number of your choice: 3
Your current balance is: 200€

What would you like to do?
1. Deposit money
2. Withdraw money
3. Check balance
4. Exit
Please enter the number of your choice: 4
Thank you! Your final balance is: 200€

In [ ]:
# Hard level:

print("Welcome to the Bank!")
balance = 0

while True:
    print("\nWhat would you like to do?")
    print("1. Deposit money")
    print("2. Withdraw money")
    print("3. Check balance")
    print("4. Exit")

    choice = input("Please enter a number between 1 and 4: ")

    if choice == '1':
        try:
            deposit = input("Please enter the amount of money(€) you want to deposit: ")
            balance += int(deposit)
            print(f"Deposit successful! Your new balance is: {balance}€")
        except:
            print("Please enter a valid number/integer")

    elif choice == '2':
        try:
            withdrawal = int(input("Please enter the amount of money(€) you want to withdraw: "))
            if balance >= withdrawal:
                balance -= withdrawal
                print(f"Withdrawal successful! Your new balance is: {balance}€")
            else:
                print("Insufficient funds! Withdrawal not possible")
        except:
            print("Please enter a valid number/integer")

    elif choice == '3':
        print(f"Your current balance is: {balance}€")

    elif choice == '4':
        print(f"Thank you! Your total balance is: {balance}€")
        break

    else:
        print("Invalid entry. Please enter a number between 1 and 4")

Welcome to the Bank!

What would you like to do?
1. Deposit money
2. Withdraw money
3. Check balance
4. Exit
Please enter a number between 1 and 4: 3
Your current balance is: 0€

What would you like to do?
1. Deposit money
2. Withdraw money
3. Check balance
4. Exit
Please enter a number between 1 and 4: 1
Please enter the amount of money(€) you want to deposit: 600
Deposit successful! Your new balance is: 600€

What would you like to do?
1. Deposit money
2. Withdraw money
3. Check balance
4. Exit
Please enter a number between 1 and 4: 2
Please enter the amount of money(€) you want to withdraw: 240
Withdrawal successful! Your new balance is: 360€

What would you like to do?
1. Deposit money
2. Withdraw money
3. Check balance
4. Exit
Please enter a number between 1 and 4: 3
Your current balance is: 360€

What would you like to do?
1. Deposit money
2. Withdraw money
3. Check balance
4. Exit
Please enter a number between 1 and 4: 5
Invalid entry. Please enter a number between 1 and 4

What would you like to do?
1. Deposit money
2. Withdraw money
3. Check balance
4. Exit
Please enter a number between 1 and 4: 1
Please enter the amount of money(€) you want to deposit: jds
Please enter a valid number/integer

What would you like to do?
1. Deposit money
2. Withdraw money
3. Check balance
4. Exit
Please enter a number between 1 and 4: 123d
Invalid entry. Please enter a number between 1 and 4

What would you like to do?
1. Deposit money
2. Withdraw money
3. Check balance
4. Exit
Please enter a number between 1 and 4: 1
Please enter the amount of money(€) you want to deposit: 70000
Deposit successful! Your new balance is: 70360€

What would you like to do?
1. Deposit money
2. Withdraw money
3. Check balance
4. Exit
Please enter a number between 1 and 4: 4
Thank you! Your final balance is: 70360€

**Lesson 9.**

**Topic: Functions**

1. Defining and working with functions in Python

2. Function parameters and arguments

3. Defining Classes in Python

4. init() method and instance variables

5. Defining and using instance methods

In [ ]:
# Lesson 9. (25.5.24)

# Elchin
# clean the phone - function
# phone - argument

def cleaner():
  print("I have cleaned the item")

cleaner()

I have cleaned the item

In [ ]:
# provide some argument (item - parameter - it is needed to call the function)

def cleaner(item):
  print("I have cleaned the item")

cleaner("smartphone")

I have cleaned the item

In [ ]:
def cleaner(item):
  print(f"I have cleaned the {item}")

cleaner("smartphone")

I have cleaned the smartphone

In [ ]:
def cleaner(item, fluid):
  print(f"I have cleaned the {item} with {fluid}")

cleaner("smartphone", "water")

I have cleaned the smartphone with water

In [ ]:
def cleaner(item, fluid, time):
  print(f"I have cleaned the {item} with {fluid} {time} times")

cleaner("smartphone", "water", 3)

# we dont need to define the type of the parameter
# "smartphone" is an argument provided as a parameter to the function
# python detects the data type automatically
# not good: mixing types in database

I have cleaned the smartphone with water 3 times

In [ ]:
def cleaner(item:str, fluid:str, time:int):
  print(f"I have cleaned the {item} with {fluid} {time} times")

cleaner("smartphone", "water", 3)

# item:str, fluid:str, time:int - it is only informative, it can not be forced

I have cleaned the smartphone with water 3 times

In [ ]:
from os import times
def cleaner(item, fluid, time):
  print(f"I have cleaned the {item} with {fluid} {time} times")
  print(type(item))
  print(type(fluid))
  print(type(times))
#  'type' is also a function that checks data type

cleaner("smartphone", "water", 3)

I have cleaned the smartphone with water 3 times
<class 'str'>
<class 'str'>
<class 'builtin_function_or_method'>

In [ ]:
def add_two_numbers(number_1, number_2):
 return number_1 + number_2

50 - add_two_numbers(4, 5)
# the difference between void or return function in Python
# is only defined by return keyword or lack of it

# the print is colab doing, to print it we have to "print" it

41

In [ ]:
def add_two_numbers(number_1, number_2):
 return number_1 + number_2

print(50 - add_two_numbers(4, 5))

41

In [ ]:
class Cat:
  def __init__ (self):
    pass

In [ ]:
# AI:

class Cat:
    # __init__ is a special method called a constructor
    # It is used to initialize the attributes of the class when an object
    # is created, this method runs automathically

    def __init__(self, name, age):
        self.name = name  # 'self.name' is an instance variable
        self.age = age  # 'self.age' is another instance variable

# Example of creating a Cat object
my_cat = Cat("Whiskers", 3)
print(my_cat.name)  # Output: Whiskers
print(my_cat.age)   # Output: 3

Whiskers
3

In [ ]:
class Cat:
  # __init__ method runs automatically
  # when an object from this class is created
  # this method also called a `constructor`
  def __init__(self): #self is a requred parameter and refers to the instance
    pass

In [ ]:
class Cat:
  # __init__ method runs automatically
  # when an object from this class is created
  # this method also called a `constructor`
  def __init__(self, name, age): #self is a requred parameter and refers to the instance
    self.name = name
    self.age = age

cat1 = Cat('Coder', 3) # creare an instance of the class, called an object
cat2 = Cat('Minka', 12) # creare an instance of the class, called an object
cat3 = Cat('Miisu', 5) # creare an instance of the class, called an object

print(cat1.age) # read the instance/object variable
print(cat2.name)
print(cat3.name, cat3.age)

3
Minka
Miisu 5

In [ ]:
class Cat:
  def __init__(self, name, age):
    self.name = name
    self.age = age

cat1 = Cat('Coder', 3)
cat2 = Cat('Minka', 12)
cat3 = Cat('Miisu', 5)

print(cat1) # place in the memory

# This output indicates:
# __main__: The module where the class is defined (in this case, the main script);
# Cat: The name of the class;
# 0x7f9c0b4c1d30: The memory address where the cat1 object is stored

<__main__.Cat object at 0x7ed966717d30>

In [ ]:
class Cat:
  # __init__ method runs automatically
  # when an object from this class is created
  # this method also called a `constructor`
  def __init__(self, name, age): #self is a requred parameter and refers to the instance
    self.name = name
    self.age = age

  def voice(self, sound): # we define our custom method
    print(f'{sound}!')

cat1 = Cat('Coder', 3) # creare an instance of the class, called an object
cat2 = Cat('Minka', 12) # creare an instance of the class, called an object
cat3 = Cat('Miisu', 5) # creare an instance of the class, called an object

print(cat1.age) # read the instance/object variable
cat3.voice('Meow') # calling the custom method
cat1.voice('Meoooow') # calling the custom method

In [ ]:
class Cat:

  def __init__(self, name, age):
    self.name = name
    self.age = age
    self.sound = 'Meow' # assigning a sound

  def voice(self):
    print(f'{self.sound}!')

  def eat(self, food):
    print(f'{self.name} is eating {food}')

  def introduce(self):
    print(f'Hi, my name is {self.name}, I am {self.age} years old. Nice to meet you!')

cat1 = Cat('Coder', 3)
cat2 = Cat('Minka', 12)
cat3 = Cat('Miisu', 5)

print(cat1.age)

cat3.voice()
cat1.voice()

cat3.introduce()

cat3.eat('Chicken meat')

3
Meow!
Meow!
Hi, my name is Miisu, I am 5 years old. Nice to meet you!
Miisu is eating Chicken meat

In [ ]:
# TEAMWORK
# Make a data structure which will hold all instances/objects together
# Print out object data using loops
# Use methods for all objects using loops
# Allow programmer to override the default sound of a cat

In [ ]:
class Cat:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        self.sound = 'Meow'  # assigning a sound

    def voice(self):
        print(f'{self.sound}')

    def eat(self, food):
        print(f'{self.name} is eating {food}')

    def introduce(self):
        print(f'Hi, my name is {self.name}, I am {self.age} years old. Nice to meet you!')


cat1 = Cat('Coder', 3)
cat2 = Cat('Minka', 12)
cat3 = Cat('Miisu', 5)

# make a list
cats = [cat1, cat2, cat3]

# loop
for cat in cats:
    print(f"Cat's name is: {cat.name}, cat's age is: {cat.age}")
    cat.introduce()
    cat.voice()
    cat.eat("fish")

cat1.sound = "Meow"
cat2.sound = "Neu"
cat3.sound = "Mäu"

for cat in cats:
    print(f"{cat.name}'s new sound: ", end="")
    cat.voice()

Cat's name is: Coder, cat's age is: 3
Hi, my name is Coder, I am 3 years old. Nice to meet you!
Meow
Coder is eating fish
Cat's name is: Minka, cat's age is: 12
Hi, my name is Minka, I am 12 years old. Nice to meet you!
Meow
Minka is eating fish
Cat's name is: Miisu, cat's age is: 5
Hi, my name is Miisu, I am 5 years old. Nice to meet you!
Meow
Miisu is eating fish
Coder's new sound: Meow
Minka's new sound: Neu
Miisu's new sound: Mäu

In [ ]:
# Nora's code:
class Ing:
  def __init__(self, name):
    self.name = name
    self.expiry_date = 'not set'

  def display(self):
      print(f'Ingredient: {self.name}')
      print(f'Expiry date: {self.expiry_date}')

  def set_expiry_date(self, new_expiry_date):
      self.expiry_date = new_expiry_date

ingredients = []
ingredients.append(Ing('milk'))
ingredients.append(Ing('watermelon'))
ingredients.append(Ing('cheese'))

print("Ingredients with default expiry dates:")
for ing in ingredients:
    ing.display()

for ing in ingredients:
    new_date = input(f"Enter the new expiry date for {ing.name} (current: {ing.expiry_date}): ")
    ing.set_expiry_date(new_date)

print('\nHere are the new expiry dates for your ingredients: ')

for ing in ingredients:
    ing.display()

Ingredients with default expiry dates:
Ingredient: milk
Expiry date: not set
Ingredient: watermelon
Expiry date: not set
Ingredient: cheese
Expiry date: not set
Enter the new expiry date for milk (current: not set): 30.5
Enter the new expiry date for watermelon (current: not set): 30.5
Enter the new expiry date for cheese (current: not set): 28.5

Here are the new expiry dates for your ingredients:
Ingredient: milk
Expiry date: 30.5
Ingredient: watermelon
Expiry date: 30.5
Ingredient: cheese
Expiry date: 28.5

In [ ]:
class Task:
    def __init__(self, description, priority):
        self.description = description
        self.priority = priority  # '1' for 'Must do today' and '2' for 'Do this week'

    def show_task(self):
        print(f'Task: {self.description}, Priority: {self.priority}')

    def change_priority(self, new_priority):
        self.priority = new_priority
        print(f'The priority of the task "{self.description}" has been changed to {self.priority}')

    def complete_task(self):
        print(f'The task "{self.description}" has been completed.')

# Create instances of the Task class
task1 = Task('Finish the report', '1')
task2 = Task('Buy groceries', '2')
task3 = Task('Call mom', '1')

# Make a list
tasks = [task1, task2, task3]

# Loop to print task details and call methods
for task in tasks:
    print(f"Task: {task.description}, Priority: {task.priority}")

for task in tasks:
    task.show_task()
    task.complete_task()

# Change priority of tasks
task1.change_priority('2')
task2.change_priority('1')

# Loop to demonstrate the changed priorities
for task in tasks:
    print(f"{task.description}'s new priority: {task.priority}")

Task: Finish the report, Priority: 1
Task: Buy groceries, Priority: 2
Task: Call mom, Priority: 1
Task: Finish the report, Priority: 1
The task "Finish the report" has been completed.
Task: Buy groceries, Priority: 2
The task "Buy groceries" has been completed.
Task: Call mom, Priority: 1
The task "Call mom" has been completed.
The priority of the task "Finish the report" has been changed to 2
The priority of the task "Buy groceries" has been changed to 1
Finish the report's new priority: 2
Buy groceries's new priority: 1
Call mom's new priority: 1

In [ ]:
class Task:
    def __init__(self, description, priority):
        self.description = description
        self.priority = priority  # '1' for 'Must do today', '2' for 'Do this week', '3' for 'Task completed'

    def show_task(self):
        priority_str = self.get_priority_str()
        print(f'Task: {self.description}, Priority: {priority_str}')

    def change_priority(self, new_priority):
        self.priority = new_priority
        priority_str = self.get_priority_str()
        print(f'The priority of the task "{self.description}" has been changed to {priority_str}')

    def complete_task(self):
        self.priority = '3'
        print(f'The task "{self.description}" has been marked as completed.')

    def get_priority_str(self):
        if self.priority == '1':
            return 'Must do today'
        elif self.priority == '2':
            return 'Do this week'
        elif self.priority == '3':
            return 'Task completed'
        else:
            return 'Unknown'

# Function to create tasks based on user input
def create_task():
    description = input('Enter the task description: ')
    priority = input('Enter the task priority ("1" for "Must do today", "2" for "Do this week"): ')
    return Task(description, priority)

# Function to change priority of a task based on user input
def change_task_priority(tasks):
    task_num = int(input('Enter the task number to change priority: '))
    new_priority = input('Enter the new priority ("1" for "Must do today", "2" for "Do this week", "3" for "Task completed"): ')
    if 0 <= task_num < len(tasks):
        tasks[task_num].change_priority(new_priority)
    else:
        print('Invalid task number.')

# Main code
tasks = []

# User input to add tasks
while True:
    add_task = input('Do you want to add a new task? (yes/no): ')
    if add_task.lower() == 'yes':
        task = create_task()
        tasks.append(task)
    else:
        break

# Print all tasks
print('\nAll Tasks:')
for idx, task in enumerate(tasks):
    print(f'{idx}. ', end='')
    task.show_task()

# User input to change task priorities
while True:
    change_priority = input('Do you want to change the priority of a task? (yes/no): ')
    if change_priority.lower() == 'yes':
        change_task_priority(tasks)
    else:
        break

# Print all tasks after priority changes
print('\nAll Tasks after Priority Changes:')
for idx, task in enumerate(tasks):
    print(f'{idx}. ', end='')
    task.show_task()

Do you want to add a new task? (yes/no): yes
Enter the task description: clean rooms
Enter the task priority ("1" for "Must do today", "2" for "Do this week"): 1
Do you want to add a new task? (yes/no): yes
Enter the task description: do Java individual work
Enter the task priority ("1" for "Must do today", "2" for "Do this week"): 2
Do you want to add a new task? (yes/no): no

All Tasks:
0. Task: clean rooms, Priority: Must do today
1. Task: do Java individual work, Priority: Do this week
Do you want to change the priority of a task? (yes/no): yes
Enter the task number to change priority: 0
Enter the new priority ("1" for "Must do today", "2" for "Do this week", "3" for "Task completed"): 3
The priority of the task "clean rooms" has been changed to Task completed
Do you want to change the priority of a task? (yes/no): no

All Tasks after Priority Changes:
0. Task: clean rooms, Priority: Task completed
1. Task: do Java individual work, Priority: Do this week

**Lesson 10.**

**Topic: Making the prototype bank application**

1. Making the Client, Account and Transaction classes
2. Understanding how to use one class from another class
3. Loop through elements of a class and print the field values
4. Construct nested loops to access nested data structures (lists in a Class)

Teamwork
1. Translate the code from Python to Java (can use LLMs)
2. Look through the code and a check if it works properly in Java
3. Briefly analyze the syntactical and structural difference in languages
4. Make a brief Chee sheet for defining classes, class variables, instance variables and methods in Java

In [ ]:
# LESSON 10.(1.6.24)
# Elchin

In [ ]:
class Client:
  number_of_clients = 0

  def __init__(self, id, name):
    self.id = id
    self.name = name
    Client.number_of_clients += 1

clients = []
clients.append(Client('123456', 'Anna'))
clients.append(Client('987654', 'Oskar'))
clients.append(Client('456123', 'Jenifer'))

print(Client.number_of_clients)
print(clients[1]) # get the id of Oskar

3
<__main__.Client object at 0x7d62ab1f7670>

In [ ]:
class Client:
  number_of_clients = 0

  def __init__(self, id, name):
    self.id = id
    self.name = name
    Client.number_of_clients += 1

clients = []
clients.append(Client('123456', 'Anna'))
clients.append(Client('987654', 'Oskar'))
clients.append(Client('456123', 'Jenifer'))

print(f'We have {Client.number_of_clients} clients in our bank:')
for client in clients:
  print(client.name)

We have 3 clients in our bank:
Anna
Oskar
Jenifer

In [ ]:
class Client:
  number_of_clients = 0

  def __init__(self, id, name):
    self.id = id
    self.name = name
    self.accounts = []
    Client.number_of_clients += 1

  def add_account(self, account):
    self.accounts.append(account)

In [ ]:
# AI:

class Client:
    number_of_clients = 0

    def __init__(self, id, name):
        self.id = id
        self.name = name
        self.accounts = []
        Client.number_of_clients += 1

    def add_account(self, account):
        self.accounts.append(account)

    def print_client_info(self):
        print(f"Client ID: {self.id}")
        print(f"Client Name: {self.name}")
        print(f"Accounts: {self.accounts}")

    @staticmethod
    def print_number_of_clients():
        print(f"Total number of clients: {Client.number_of_clients}")

# Näide kasutamisest
client1 = Client(1, "John Doe")
client2 = Client(2, "Jane Smith")

client1.add_account("Checking")
client1.add_account("Savings")

client2.add_account("Business")

client1.print_client_info()
client2.print_client_info()
Client.print_number_of_clients()

Client ID: 1
Client Name: John Doe
Accounts: ['Checking', 'Savings']
Client ID: 2
Client Name: Jane Smith
Accounts: ['Business']
Total number of clients: 2

In [ ]:
class Client:  # first class
  number_of_clients = 0

  def __init__(self, id, name):
    self.id = id
    self.name = name
    self.accounts = []
    Client.number_of_clients += 1

  def add_account(self, account):
    self.accounts.append(account)

class Account:   # second class
  def __init__(self, number, currency):
    self.number = number
    self.currency = currency

In [ ]:
# defining a class Client, which will store all data and methods for clients
class Client:
    number_of_clients = 0

    def __init__(self, id, name):
        self.id = id
        self.name = name
        self.accounts = []
        Client.number_of_clients += 1

    def add_account(self, account):
        self.accounts.append(account)

# defining a class Account, which will store all data and methods of any account
class Account:
    def __init__(self, number, currency):
        self.number = number
        self.currency = currency

# now, let us work using those classes
# adding clients to a list
clients = []
clients.append(Client('123456', 'Anna'))
clients.append(Client('987654', 'Oskar'))
clients.append(Client('456123', 'Jenifer'))

# adding accounts to clients
clients[0].add_account(Account('EE654987564321', 'EUR'))
clients[0].add_account(Account('JP582147859635', 'JPY'))
clients[0].add_account(Account('US654987643214', 'USD'))

# printing some data
print(f'We have {Client.number_of_clients} clients in our bank:')

for client in clients:
    print(client.name)  # prindib iga kliendi nime

We have 3 clients in our bank:
Anna
Oskar
Jenifer

Pythonis on klass, meetod ja konstruktor olulised mõisted objektorienteeritud programmeerimise kontekstis. Igaühel neist on spetsiifiline roll ja tähendus.

**Klass**

Klass on mall või plaan objektide loomiseks. See määratleb omadused (atribuutid) ja käitumised (meetodid), mida klassi objektid omavad. Klassid võimaldavad koodi taaskasutatavust ja organiseeritust, pakkudes võimalust luua mitu objekti, mis jagavad samu omadusi ja meetodeid.

Näide klassist:

class Client:
    number_of_clients = 0  # klassi atribuut

    def __init__(self, id, name):  # konstruktor
        self.id = id  # objekti atribuut
        self.name = name  # objekti atribuut
        self.accounts = []  # objekti atribuut
        Client.number_of_clients += 1  # uuendatakse klassi atribuuti

    def add_account(self, account):  # meetod
        self.accounts.append(account)
**Meetod**

Meetod on funktsioon, mis on määratletud klassi sees ja on seotud klassi objektidega. Meetodid määravad kindlaks klassi objektide käitumise ja neil on tavaliselt vähemalt üks argument, self, mis viitab objektile endale.

Näide meetodist:


def add_account(self, account):

    self.accounts.append(account)
Meetodi add_account abil saab klient objektile lisada kontosid.

**Konstruktor**

Konstruktor on spetsiaalne meetod, mida kutsutakse automaatselt iga kord, kui klassist luuakse uus objekt. Konstruktor määratletakse spetsiaalse meetodi __init__ abil ja selle peamine ülesanne on initsialiseerida objekti atribuudid.

Näide konstruktorist:


def __init__(self, id, name):

    self.id = id
    self.name = name
    self.accounts = []
    Client.number_of_clients += 1


Konstruktor __init__ määrab kindlaks objekti atribuudi väärtused (id, name ja accounts) iga kord, kui uus Client objekt luuakse.

**Kokkuvõte**

**Klass**:
Määratleb omadused ja käitumised, mida objektid jagavad.
**Meetod**:
Funktsioon, mis määratleb objektide käitumise ja on seotud klassi objektidega.
**Konstruktor**:
Spetsiaalne meetod __init__, mida kasutatakse objekti atribuutide initsialiseerimiseks.

Need mõisted töötavad koos, et võimaldada objektorienteeritud programmeerimist, pakkudes struktureeritud ja modulaarset viisi koodi kirjutamiseks ja haldamiseks.

In [ ]:
class Client:
  number_of_clients = 0

  def __init__(self, id, name):
    self.id = id
    self.name = name
    self.accounts = []
    Client.number_of_clients += 1

  def add_account(self, account):
    self.accounts.append(account)

class Account:
  def __init__(self, number, currency):
    self.number = number
    self.currency = currency

# now, let us work using those classes
# adding clients to a list
clients = []
clients.append(Client('123456', 'Anna'))
clients.append(Client('987654', 'Oskar'))
clients.append(Client('456123', 'Jenifer'))

# adding accounts to clients
clients[0].add_account(Account('EE654987564321', 'EUR'))
clients[0].add_account(Account('JP582147859635', 'JPY'))
clients[0].add_account(Account('US654987643214', 'USD'))
clients[1].add_account(Account('PL849512635445', 'PLN'))
clients[2].add_account(Account('SE741254956587', 'SEK'))


# printing some data
print(f'We have {Client.number_of_clients} clients in our bank:')

for client in clients:
  print(f'Client {client.name} has the following accounts:')

  for account in client.accounts:
    print(f'{account.number} ({account.currency})')

We have 3 clients in our bank:
Client Anna has the following accounts:
EE654987564321 (EUR)
JP582147859635 (JPY)
US654987643214 (USD)
Client Oskar has the following accounts:
PL849512635445 (PLN)
Client Jenifer has the following accounts:
SE741254956587 (SEK)

In [ ]:
import datetime

class Client:
  number_of_clients = 0

  def __init__(self, id, name):
    self.id = id
    self.name = name
    self.accounts = []
    Client.number_of_clients += 1

  def add_account(self, account):
    self.accounts.append(account)

class Account:
  def __init__(self, number, currency, balance = 0.0):
    self.number = number
    self.currency = currency
    self.balance = balance
    self.transactions = []

  def make_deposit(self, amount, note):
    self.transactions.append(Transaction(self.currency, amount, note))
    self.balance += amount

  def make_withdrawal(self, amount, note):
    self.transactions.append(Transaction(self.currency, -amount, note))
    self.balance -= amount

class Transaction:
  def __init__(self, currency, amount, note):
    self.currency = currency
    self.amount = amount
    self.note = note
    self.time_stamp = datetime.datetime.now()

# now, let us work using those classes
# adding clients to a list
clients = []
clients.append(Client('123456', 'Anna'))
clients.append(Client('987654', 'Oskar'))
clients.append(Client('456123', 'Jenifer'))

# adding accounts to clients
clients[0].add_account(Account('EE654987564321', 'EUR', 1000.0))
clients[0].add_account(Account('JP582147859635', 'JPY', 25000.30))
clients[0].add_account(Account('US654987643214', 'USD'))
clients[1].add_account(Account('PL849512635445', 'PLN', 47800.00))
clients[2].add_account(Account('SE741254956587', 'SEK', 200.18))

# let's make some transactions
clients[0].accounts[0].make_deposit(1200, 'Salary')
clients[0].accounts[0].make_withdrawal(50, 'Grocery')
clients[0].accounts[0].make_withdrawal(140, 'Clothes')
clients[0].accounts[0].make_withdrawal(20, 'Dinner')

# printing some data
print(f'We have {Client.number_of_clients} clients in our bank:')

for client in clients:
  print(f'Client {client.name} has the following accounts:')
  for account in client.accounts:
    print(f'{account.number} ({account.currency}) {account.balance}')
    for transaction in account.transactions:
      print(f'{transaction.time_stamp} {transaction.currency} {transaction.amount}')

We have 3 clients in our bank:
Client Anna has the following accounts:
EE654987564321 (EUR) 1990.0
2024-06-07 08:13:07.998871 EUR 1200
2024-06-07 08:13:07.998968 EUR -50
2024-06-07 08:13:07.999046 EUR -140
2024-06-07 08:13:07.999102 EUR -20
JP582147859635 (JPY) 25000.3
US654987643214 (USD) 0.0
Client Oskar has the following accounts:
PL849512635445 (PLN) 47800.0
Client Jenifer has the following accounts:
SE741254956587 (SEK) 200.18

In [ ]:
# Teamwork:

1. Translate the code to Java and understand how it works with Java (can use LLMs)
   BE SURE THAT THE CODE WORKS PROPERLY IN JAVA

2. Pay attention to the different syntax
3. Make a cheat sheet in Miro on creating Classes with Java similar to what you
   have for Python (Make a brief cheat sheet for defining classes, class variables,
   instance variables and methods in Java)

In the context of IT, "**LLM**" bold text stands for **Large Language Model**. Large Language Models are advanced types of artificial intelligence (AI) models, particularly a subset of deep learning models, that are designed to understand, generate, and manipulate natural language text. These models are typically trained on vast amounts of text data and can perform a variety of language-related tasks such as translation, summarization, question answering, and more.

Key Features of LLMs:

**1. Scale:**

LLMs are characterized by their large scale in terms of the number of parameters and the size of the training dataset. This allows them to capture complex language patterns and nuances.

**2. Deep Learning:**

These models use deep neural networks, often with many layers (hence "deep"), which enables them to learn hierarchical representations of language.

**3. Versatility:**

LLMs can be applied to a wide range of natural language processing (NLP) tasks. Examples include text generation, translation, sentiment analysis, and more.

**Examples of LLMs:**

**1. GPT (Generative Pre-trained Transformer):**

Developed by OpenAI, GPT models (like GPT-3 and GPT-4) are among the most well-known large language models. They are capable of generating coherent and contextually relevant text based on input prompts.

**2. BERT (Bidirectional Encoder Representations from Transformers):**

Developed by Google, BERT is designed to understand the context of a word in search queries, leading to more accurate search results.

**3. T5 (Text-To-Text Transfer Transformer):**

Another model by Google, T5 reframes all NLP tasks into a text-to-text format, making it a versatile and powerful model for various applications.

**Applications:**

* Natural Language Understanding (NLU):
Understanding and interpreting human language.

* Chatbots and Virtual Assistants: Providing human-like interactions in customer service.

* Content Creation: Assisting in generating articles, summaries, and other text content.

* Translation Services: Translating text from one language to another with high accuracy.

* Search Engines: Improving the relevance and accuracy of search results.

**Sources:**

OpenAI - GPT

Google AI Blog - BERT

Google Research - T5


In summary, LLMs represent a significant advancement in the field of artificial intelligence, enabling machines to understand and generate human language with unprecedented accuracy and fluency.

In [ ]:
# Python code:

import datetime

class Client:
  number_of_clients = 0

  def __init__(self, id, name):
    self.id = id
    self.name = name
    self.accounts = []
    Client.number_of_clients += 1

  def add_account(self, account):
    self.accounts.append(account)

class Account:
  def __init__(self, number, currency, balance = 0.0):
    self.number = number
    self.currency = currency
    self.balance = balance
    self.transactions = []

  def make_deposit(self, amount, note):
    self.transactions.append(Transaction(self.currency, amount, note))
    self.balance += amount

  def make_withdrawal(self, amount, note):
    self.transactions.append(Transaction(self.currency, -amount, note))
    self.balance -= amount

class Transaction:
  def __init__(self, currency, amount, note):
    self.currency = currency
    self.amount = amount
    self.note = note
    self.time_stamp = datetime.datetime.now()

# now, let us work using those classes
# adding clients to a list
clients = []
clients.append(Client('123456', 'Anna'))
clients.append(Client('987654', 'Oskar'))
clients.append(Client('456123', 'Jenifer'))

# adding accounts to clients
clients[0].add_account(Account('EE654987564321', 'EUR', 1000.0))
clients[0].add_account(Account('JP582147859635', 'JPY', 25000.30))
clients[0].add_account(Account('US654987643214', 'USD'))
clients[1].add_account(Account('PL849512635445', 'PLN', 47800.00))
clients[2].add_account(Account('SE741254956587', 'SEK', 200.18))

# let's make some transactions
clients[0].accounts[0].make_deposit(1200, 'Salary')
clients[0].accounts[0].make_withdrawal(50, 'Grocery')
clients[0].accounts[0].make_withdrawal(140, 'Clothes')
clients[0].accounts[0].make_withdrawal(20, 'Dinner')

# printing some data
print(f'We have {Client.number_of_clients} clients in our bank:')

for client in clients:
  print(f'Client {client.name} has the following accounts:')
  for account in client.accounts:
    print(f'{account.number} ({account.currency}) {account.balance}')
    for transaction in account.transactions:
      print(f'{transaction.time_stamp} {transaction.currency} {transaction.amount}')
  print()

We have 3 clients in our bank:
Client Anna has the following accounts:
EE654987564321 (EUR) 1990.0
2024-06-09 08:27:16.201655 EUR 1200
2024-06-09 08:27:16.201721 EUR -50
2024-06-09 08:27:16.201781 EUR -140
2024-06-09 08:27:16.201838 EUR -20
JP582147859635 (JPY) 25000.3
US654987643214 (USD) 0.0

Client Oskar has the following accounts:
PL849512635445 (PLN) 47800.0

Client Jenifer has the following accounts:
SE741254956587 (SEK) 200.18

In [ ]:
# Java codes:

# Result:

We have 3 clients in our bank:
Client Anna has the following accounts:
EE654987564321 (EUR) 1990.0
Sun Jun 09 08:25:24 GMT 2024 EUR 1200.0
Sun Jun 09 08:25:24 GMT 2024 EUR -50.0
Sun Jun 09 08:25:24 GMT 2024 EUR -140.0
Sun Jun 09 08:25:24 GMT 2024 EUR -20.0
JP582147859635 (JPY) 25000.3
US654987643214 (USD) 0.0

Client Oskar has the following accounts:
PL849512635445 (PLN) 47800.0

Client Jenifer has the following accounts:
SE741254956587 (SEK) 200.18

# Main.java

import java.util.ArrayList;
import java.util.List;

public class Main {
    public static void main(String[] args) {
        // creating clients
        List<Client> clients = new ArrayList<>();
        clients.add(new Client("123456", "Anna"));
        clients.add(new Client("987654", "Oskar"));
        clients.add(new Client("456123", "Jenifer"));

        // adding accounts to clients
        clients.get(0).addAccount(new Account("EE654987564321", "EUR", 1000.0));
        clients.get(0).addAccount(new Account("JP582147859635", "JPY", 25000.30));
        clients.get(0).addAccount(new Account("US654987643214", "USD", 0.0));
        clients.get(1).addAccount(new Account("PL849512635445", "PLN", 47800.00));
        clients.get(2).addAccount(new Account("SE741254956587", "SEK", 200.18));

        // making transactions
        clients.get(0).getAccounts().get(0).makeDeposit(1200, "Salary");
        clients.get(0).getAccounts().get(0).makeWithdrawal(50, "Grocery");
        clients.get(0).getAccounts().get(0).makeWithdrawal(140, "Clothes");
        clients.get(0).getAccounts().get(0).makeWithdrawal(20, "Dinner");

        // printing the data
        System.out.println("We have " + Client.getNumberOfClients() + " clients in our bank:");

        for (Client client : clients) {
            System.out.println("Client " + client.getName() + " has the following accounts:");
            for (Account account : client.getAccounts()) {
                System.out.println(account.getNumber() + " (" + account.getCurrency() + ") " + account.getBalance());
                for (Transaction transaction : account.getTransactions()) {
                    System.out.println(transaction.getTimeStamp() + " " + transaction.getCurrency() + " " + transaction.getAmount());
                }
            }
            System.out.println();
        }
    }
}

In [ ]:
# Client.java

import java.util.ArrayList;
import java.util.List;

public class Client {
    private static int numberOfClients = 0;
    private String id;
    private String name;
    private List<Account> accounts;

    public Client(String id, String name) {
        this.id = id;
        this.name = name;
        this.accounts = new ArrayList<>();
        numberOfClients++;
    }

    public void addAccount(Account account) {
        this.accounts.add(account);
    }

    public static int getNumberOfClients() {
        return numberOfClients;
    }

    public String getName() {
        return name;
    }

    public List<Account> getAccounts() {
        return accounts;
    }
}

In [ ]:
# Account.java

import java.util.ArrayList;
import java.util.List;

public class Account {
    private String number;
    private String currency;
    private double balance;
    private List<Transaction> transactions;

    public Account(String number, String currency, double balance) {
        this.number = number;
        this.currency = currency;
        this.balance = balance;
        this.transactions = new ArrayList<>();
    }

    public void makeDeposit(double amount, String note) {
        this.transactions.add(new Transaction(this.currency, amount, note));
        this.balance += amount;
    }

    public void makeWithdrawal(double amount, String note) {
        this.transactions.add(new Transaction(this.currency, -amount, note));
        this.balance -= amount;
    }

    public String getNumber() {
        return number;
    }

    public String getCurrency() {
        return currency;
    }

    public double getBalance() {
        return balance;
    }

    public List<Transaction> getTransactions() {
        return transactions;
    }
}

In [ ]:
# Transaction.java

import java.util.Date;

public class Transaction {
    private String currency;
    private double amount;
    private String note;
    private Date timeStamp;

    public Transaction(String currency, double amount, String note) {
        this.currency = currency;
        this.amount = amount;
        this.note = note;
        this.timeStamp = new Date();
    }

    public String getCurrency() {
        return currency;
    }

    public double getAmount() {
        return amount;
    }

    public String getNote() {
        return note;
    }

    public Date getTimeStamp() {
        return timeStamp;
    }
}

**Lesson 11.**

**Topic: Understanding CSV and JSON data types, saving data from Objects and Dictionaries in JSON format**

1. Tabular and document data formats
2. CSV vs JSON
3. Saving dictionary to JSON
4. Saving object data in JSON
5. Reading from JSON

Teamwork
1. Calculate required metrics on a data given in JSON format

In [ ]:
# LESSON 11.(8.6.24)

**CSV - Comma Separated Values**

id, name, accounts
1234567, Anna, "65677878, 55667788, 5567878"

4566677, Oskar, "557889909"

8876666, Jenifer, "5888878"


id, name, surname, salary

1234455, Anna, Johson, 8000

6677888, Oskar, Smith, 2000

In [ ]:
 # XML vs JSON

 # https://www.w3schools.com/js/js_json_xml.asp

In [ ]:
import datetime

class Client:
  number_of_clients = 0

  def __init__(self, id, name):
    self.id = id
    self.name = name
    self.accounts = []
    Client.number_of_clients += 1

  def add_account(self, account):
    self.accounts.append(account)

class Account:
  def __init__(self, number, currency, balance = 0.0):
    self.number = number
    self.currency = currency
    self.balance = balance
    self.transactions = []

  def make_deposit(self, amount, note):
    self.transactions.append(Transaction(self.currency, amount, note))
    self.balance += amount

  def make_withdrawal(self, amount, note):
    self.transactions.append(Transaction(self.currency, -amount, note))
    self.balance -= amount

class Transaction:
  def __init__(self, currency, amount, note):
    self.currency = currency
    self.amount = amount
    self.note = note
    self.time_stamp = datetime.datetime.now()

# now, let us work using those classes
# adding clients to a list
clients = []
clients.append(Client('123456', 'Anna'))
clients.append(Client('987654', 'Oskar'))
clients.append(Client('456123', 'Jenifer'))

# adding accounts to clients
clients[0].add_account(Account('EE654987564321', 'EUR', 1000.0))
clients[0].add_account(Account('JP582147859635', 'JPY', 25000.30))
clients[0].add_account(Account('US654987643214', 'USD'))
clients[1].add_account(Account('PL849512635445', 'PLN', 47800.00))
clients[2].add_account(Account('SE741254956587', 'SEK', 200.18))


# let's make some transactions
clients[0].accounts[0].make_deposit(1200, 'Salary')
clients[0].accounts[0].make_withdrawal(50, 'Grocery')
clients[0].accounts[0].make_withdrawal(140, 'Clothes')
clients[0].accounts[0].make_withdrawal(20, 'Dinner')

# printing some data
print(f'We have {Client.number_of_clients} clients in our bank:')

for client in clients:
  print(f'Client {client.name} has the following accounts:')
  for account in client.accounts:
    print(f'{account.number} ({account.currency}) {account.balance}')
    for transaction in account.transactions:
      print(f'{transaction.time_stamp} {transaction.currency} {transaction.amount}')

We have 3 clients in our bank:
Client Anna has the following accounts:
EE654987564321 (EUR) 1990.0
2024-06-09 05:24:26.634545 EUR 1200
2024-06-09 05:24:26.634593 EUR -50
2024-06-09 05:24:26.634626 EUR -140
2024-06-09 05:24:26.634657 EUR -20
JP582147859635 (JPY) 25000.3
US654987643214 (USD) 0.0
Client Oskar has the following accounts:
PL849512635445 (PLN) 47800.0
Client Jenifer has the following accounts:
SE741254956587 (SEK) 200.18

In [ ]:
# JSON - Java Script Object Notation

{
"name": "Anna",
"surname": "Johson",
"age": 28
}

# like dictionary

In [ ]:
{
  "id": "123456",
  "name": "Anna",
  "accounts": [
    {},
    {},
    {}
  ]
}

# accounts is a list from dictionary

In [ ]:
{
 "clients": [
    {
  "id": "123456",
  "name": "Anna",
  "accounts": [
    {
      "number": "EE654987564321",
      "currency": "EUR",
      "balance": "1000.00"
    },
    {
      "number": "JP582147859635",
      "currency": "JPY",
      "balance": "25000.30"
    },
    {
      "number": "US654987643214",
      "currency": "USD",
      "balance": "0"
    }
  ]
},
    {
            "id": "987654",
            "name": "Oskar",
            "accounts": [
              {
                "number": "PL849512635445",
                "currency": "PLN",
                "balance": 47800.00
              }
            ]
          },

        {third client}
      ]
}

In [ ]:
# API - Application Programming Interface

In the IT field, an API is a defined set of rules and protocols that allow different
software applications to communicate and exchange data with each other. APIs enable
developers to use certain functions or data in other programs without having to recreate
those functions or data.

# https://docs.stripe.com/api

# https://developer.spotify.com/documentation/web-api

In [ ]:
# example from internet:

import json

# Define student_details dictionary
student_details ={
    "name" : "sathiyajith",
    "rollno" : 56,
    "cgpa" : 8.6,
    "phonenumber" : "9976770500"
}

# Convert and write JSON object to file
with open("sample.json", "w") as outfile:
    json.dump(student_details, outfile)

# find the file at the "files"!

In [ ]:
# task for AI:
# I have a code snippet.
# I want to collect the data into a dictionary and save it in JSON format
# Result:

import datetime
import json

class Client:
    number_of_clients = 0

    def __init__(self, id, name):
        self.id = id
        self.name = name
        self.accounts = []
        Client.number_of_clients += 1

    def add_account(self, account):
        self.accounts.append(account)

    def to_dict(self):
        return {
            'id': self.id,
            'name': self.name,
            'accounts': [account.to_dict() for account in self.accounts]
        }

class Account:
    def __init__(self, number, currency, balance=0.0):
        self.number = number
        self.currency = currency
        self.balance = balance
        self.transactions = []

    def make_deposit(self, amount, note):
        self.transactions.append(Transaction(self.currency, amount, note))
        self.balance += amount

    def make_withdrawal(self, amount, note):
        self.transactions.append(Transaction(self.currency, -amount, note))
        self.balance -= amount

    def to_dict(self):
        return {
            'number': self.number,
            'currency': self.currency,
            'balance': self.balance,
            'transactions': [transaction.to_dict() for transaction in self.transactions]
        }

class Transaction:
    def __init__(self, currency, amount, note):
        self.currency = currency
        self.amount = amount
        self.note = note
        self.time_stamp = datetime.datetime.now()

    def to_dict(self):
        return {
            'currency': self.currency,
            'amount': self.amount,
            'note': self.note,
            'time_stamp': self.time_stamp.isoformat()
        }

# now, let us work using those classes
# adding clients to a list
clients = []
clients.append(Client('123456', 'Anna'))
clients.append(Client('987654', 'Oskar'))
clients.append(Client('456123', 'Jenifer'))

# adding accounts to clients
clients[0].add_account(Account('EE654987564321', 'EUR', 1000.0))
clients[0].add_account(Account('JP582147859635', 'JPY', 25000.30))
clients[0].add_account(Account('US654987643214', 'USD'))
clients[1].add_account(Account('PL849512635445', 'PLN', 47800.00))
clients[2].add_account(Account('SE741254956587', 'SEK', 200.18))

# let's make some transactions
clients[0].accounts[0].make_deposit(1200, 'Salary')
clients[0].accounts[0].make_withdrawal(50, 'Grocery')
clients[0].accounts[0].make_withdrawal(140, 'Clothes')
clients[0].accounts[0].make_withdrawal(20, 'Dinner')

# Collect all client data into a dictionary
clients_data = [client.to_dict() for client in clients]

# Save the data to a JSON file
with open("clients_data.json", "w") as outfile:
    json.dump(clients_data, outfile, indent=4)

# printing some data
print(f'We have {Client.number_of_clients} clients in our bank:')

for client in clients:
  print(f'Client {client.name} has the following accounts:')
  for account in client.accounts:
    print(f'{account.number} ({account.currency}) {account.balance}')
    for transaction in account.transactions:
      print(f'{transaction.time_stamp} {transaction.currency} {transaction.amount}')

We have 3 clients in our bank:
Client Anna has the following accounts:
EE654987564321 (EUR) 1990.0
2024-06-08 08:39:06.706639 EUR 1200
2024-06-08 08:39:06.706710 EUR -50
2024-06-08 08:39:06.706743 EUR -140
2024-06-08 08:39:06.706777 EUR -20
JP582147859635 (JPY) 25000.3
US654987643214 (USD) 0.0
Client Oskar has the following accounts:
PL849512635445 (PLN) 47800.0
Client Jenifer has the following accounts:
SE741254956587 (SEK) 200.18

In [ ]:
# reading json into a dictionary

import json

with open('clients_data.json') as json_file:
  data = json.load(json_file)

for client in data:
  print(client["name"])

Anna
Oskar
Jenifer

In [ ]:
import json

with open('clients_data.json') as json_file:
  data = json.load(json_file)

for client in data:
  print(f'{client["name"]} ({client["id"]})')

Anna (123456)
Oskar (987654)
Jenifer (456123)

In [ ]:
# Teamwork

# 1. Import data to a dictionary
# 2. Calculate, looping through every student data:
# a) Average Age of all students
# b) average Grade of all students
# c) (optional) calculate average Grade by Major

import json

# read the JSON file
with open('students.json', 'r') as file:
    data = json.load(file)

# extract the list of students
students = data["Students"]

# initialize counters and accumulators
total_age = 0
total_grade = 0
count = len(students)

# initialize dictionary to accumulate grades by major
grades_by_major = {}

# loop through each student
for student in students:
    # add age to the total age
    total_age += int(student["Age"])

    # add grade to the total grade
    total_grade += int(student["Grade"])

    # add grade to the grades_by_major dictionary
    major = student["Major"]
    if major not in grades_by_major:
        grades_by_major[major] = []
    grades_by_major[major].append(int(student["Grade"]))

# calculate average age and average grade
average_age = total_age / count
average_grade = total_grade / count

print(f"Average age: {average_age}")
print(f"Average grade: {average_grade}")

# calculate and print average grade by major
for major, grades in grades_by_major.items():
    average_grade_by_major = sum(grades) / len(grades)
    print(f"Average grade for {major}: {average_grade_by_major}")

Average age: 25.2
Average grade: 80.36666666666666
Average grade for Politics: 85.1
Average grade for Math: 79.8
Average grade for Econ: 76.2

In [ ]:
import json

with open('students.json', 'r') as file:
    data = json.load(file)

students = data["Students"]
total_age = 0
total_grade = 0
count = len(students)

for student in students:
    total_age += int(student["Age"])
    total_grade += int(student["Grade"])

average_age = total_age / count
average_grade = total_grade / count

print(f"Average age: {average_age}")
print(f"Average grade: {average_grade}")

Average age: 25.2
Average grade: 80.36666666666666

In [ ]:
# INDIVIDUAL WORK
# Develop a simple prototype for an online shop
# 1. Define classes Client, Items, Transaction
# 2. Write the logic so that each client can purchase one of several items in a single transaction
# 3. Make a printout of data with nested loops
# 4. The program should print out:
# - all clients
# - all transactions of a client
# - all items purchased in each transaction of the client

# AI comments:
# Define the Client class
class Client:
    # Constructor for Client class, initializes id, name, and an empty list for transactions
    def __init__(self, id, name):
        self.id = id  # Store the client's ID
        self.name = name  # Store the client's name
        self.transactions = []  # Initialize an empty list to store transactions

    # Method to add a transaction to the client's list of transactions
    def add_transaction(self, transaction):
        self.transactions.append(transaction)  # Add the transaction to the transactions list

# Define the Item class
class Item:
    # Constructor for Item class, initializes id, name, and price
    def __init__(self, id, name, price):
        self.id = id  # Store the item's ID
        self.name = name  # Store the item's name
        self.price = price  # Store the item's price

# Define the Transaction class
class Transaction:
    # Constructor for Transaction class, initializes id, client, and items
    def __init__(self, id, client, items):
        self.id = id  # Store the transaction's ID
        self.client = client  # Store the client associated with the transaction
        self.items = items  # Store the list of items in the transaction
        # Calculate the total price of all items in the transaction
        self.total = sum(item.price for item in items)

# Create instances of Item with id, name, and price
item1 = Item(1, 'Laptop', 999.99)  # Create a laptop item
item2 = Item(2, 'Smartphone', 499.99)  # Create a smartphone item
item3 = Item(3, 'Tablet', 299.99)  # Create a tablet item

# Create instances of Client with id and name
client1 = Client(1, 'John Doe')  # Create a client named John Doe
client2 = Client(2, 'Jane Smith')  # Create a client named Jane Smith

# Create instances of Transaction and add items to clients
transaction1 = Transaction(1, client1, [item1, item3])  # Create a transaction for John Doe with a laptop and tablet
transaction2 = Transaction(2, client2, [item2])  # Create a transaction for Jane Smith with a smartphone

# Add transactions to clients
client1.add_transaction(transaction1)  # Add the transaction to John Doe's transactions
client2.add_transaction(transaction2)  # Add the transaction to Jane Smith's transactions

# Create a list of clients
clients = [client1, client2]  # List containing all clients

# Print out data
print("All clients:")  # Print header for clients list

# Loop through each client in the clients list
for client in clients:
    # Print client's ID and name
    print(f"Client ID: {client.id}, Name: {client.name}")
    print("Transactions:")  # Print header for transactions list
    # Loop through each transaction of the client
    for transaction in client.transactions:
        # Print transaction's ID and total amount
        print(f"  Transaction ID: {transaction.id}, Total: ${transaction.total:.2f}")
        print("  Items:")  # Print header for items list
        # Loop through each item in the transaction
        for item in transaction.items:
            # Print item's ID, name, and price
            print(f"    Item ID: {item.id}, Name: {item.name}, Price: ${item.price:.2f}")
    print()  # Print a blank line for separation between clients

All clients:
Client ID: 1, Name: John Doe
Transactions:
  Transaction ID: 1, Total: $1299.98
  Items:
    Item ID: 1, Name: Laptop, Price: $999.99
    Item ID: 3, Name: Tablet, Price: $299.99

Client ID: 2, Name: Jane Smith
Transactions:
  Transaction ID: 2, Total: $499.99
  Items:
    Item ID: 2, Name: Smartphone, Price: $499.99

In [ ]:
class Client:
    def __init__(self, id, name):
        self.id = id
        self.name = name
        self.transactions = []

    def add_transaction(self, transaction):
        self.transactions.append(transaction)

class Item:
    def __init__(self, id, name, price):
        self.id = id
        self.name = name
        self.price = price

class Transaction:
    def __init__(self, id, client, items):
        self.id = id
        self.client = client
        self.items = items
        self.total = sum(item.price for item in items)

item1 = Item(1, 'Laptop', 1549.00)
item2 = Item(2, 'Smartphone', 1000.00)
item3 = Item(3, 'Tablet', 650.00)
item4 = Item(4, 'Watch', 500.00)
item5 = Item(5, 'Airpod', 150.00)

client1 = Client(1, 'Jane Juurikas')
client2 = Client(2, 'Anne Liiv')
client3 = Client(3, 'Robert Raud')
client4 = Client(4, 'Siim Sinine')
client5 = Client(5, 'Lauri Hell')

clients = [client1, client2, client3, client4, client5]

transaction1 = Transaction(1, client1, [item1, item3])
transaction2 = Transaction(2, client2, [item2])
transaction3 = Transaction(3, client3, [item5])
transaction4 = Transaction(4, client4, [item3, item4])
transaction5 = Transaction(5, client5, [item4])

client1.add_transaction(transaction1)
client2.add_transaction(transaction2)
client3.add_transaction(transaction3)
client4.add_transaction(transaction4)
client5.add_transaction(transaction5)

print("All clients:")
for client in clients:
    print(f"Client ID: {client.id}, name: {client.name}")
    print("Transactions:")
    for transaction in client.transactions:
        print(f"  Transaction ID: {transaction.id}, total sum: {transaction.total}€")
        print("  Items:")
        for item in transaction.items:
            print(f"    Item ID: {item.id}, {item.name}, price: {item.price}€")
    print()

All clients:
Client ID: 1, name: Jane Juurikas
Transactions:
  Transaction ID: 1, total sum: 2199.0€
  Items:
    Item ID: 1, Laptop, price: 1549.0€
    Item ID: 3, Tablet, price: 650.0€

Client ID: 2, name: Anne Liiv
Transactions:
  Transaction ID: 2, total sum: 1000.0€
  Items:
    Item ID: 2, Smartphone, price: 1000.0€

Client ID: 3, name: Robert Raud
Transactions:
  Transaction ID: 3, total sum: 150.0€
  Items:
    Item ID: 5, Airpod, price: 150.0€

Client ID: 4, name: Siim Sinine
Transactions:
  Transaction ID: 4, total sum: 1150.0€
  Items:
    Item ID: 3, Tablet, price: 650.0€
    Item ID: 4, Watch, price: 500.0€

Client ID: 5, name: Lauri Hell
Transactions:
  Transaction ID: 5, total sum: 500.0€
  Items:
    Item ID: 4, Watch, price: 500.0€

In [ ]:
# LESSON 12. (15.6.24)

In [ ]:
filename = '/content/births.txt' #location
with open(filename, 'r') as file:
  content = file.read()

  print('Standard File I/O')
  print (content)

Standard File I/O
Jan 1048
Feb 989
Mar 1108
Apr 1207
May 1186
Jun 1155
Jul 1391
Aug 1305
Sep 1226
Oct 1155
Nov 1017
Dec 1111

In [ ]:
for line in content:
  print(line)

J
a
n

1
0
4
8


F
e
b

9
8
9


M
a
r

1
1
0
8


A
p
r

1
2
0
7


M
a
y

1
1
8
6


J
u
n

1
1
5
5


J
u
l

1
3
9
1


A
u
g

1
3
0
5


S
e
p

1
2
2
6


O
c
t

1
1
5
5


N
o
v

1
0
1
7


D
e
c

1
1
1
1